{% comment %} {% include 'article_img-script' %} {% endcomment %}
<script>
    $(document).ready(function() {

  // To save all images in an array named img_array
      var img_array = $('.article-content-{{ articleRelated.id }} img').map(function() {
        return $(this).attr("src");
      });
      var img_arr = $('.article-excerpt-{{ articleRelated.id }} img').map(function() {
        return $(this).attr("src");
      });
      var firstexcerptImage = img_arr[0];

      var firstImage = img_array[0];

      var excerptImage = img_arr[0];{% if articleRelated.image %}
      {% else %}

      //$(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").addClass("no-image");
        if (img_array.length > 0) {
          $(".custom-article-image-{{ articleRelated.id }} img").attr("src", firstImage);
          $(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").removeClass("no-image");
        } else {
          if (img_arr.length > 0) {
            $(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").removeClass("no-image");
            $(".custom-article-image-{{ articleRelated.id }} img").attr("src", firstexcerptImage);
          }

        }

      {% endif %}
    });
</script>
<div class=" article-card ">
  <div class="inner-section flex">
    {% capture img_id %}ArticleImage-{{ articleRelated.image.id }}{% endcapture %}
    {% capture img_wrapper_id %}ArticleImageWrapper-{{ articleRelated.image.id }}{% endcapture %}
    {%- assign img_url = articleRelated.image | img_url: 'master' -%}

    {% if articleRelated.image != blank %}
      <a
        href="{{ articleRelated.url }}"
        aria-label="Read More About {{ articleRelated.title }}"
        title="Read More About {{ articleRelated.title }}"
        data-image-loading-animation

        class="image-section custom-article-image-{{ articleRelated.id }}"
      >
        <img
          class="lazyload"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ articleRelated.image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ articleRelated.title }}"
        >
        {%- if show_tags_with_limits -%}
          <ul class="tags-wrapper">
            {% for tag in articleRelated.tags %}
              {% assign current = current_tags %}
              {% if current_tags == tag %}
                <li class="tags">
                  <span class="tag">
                    {{- current -}}
                  </span>
                </li>
              {% else %}
                <li class="tags">
                  <span class="tag">
                    {{- tag -}}
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </a>
    {% endif %}

    <noscript>
      <p>
        <a href="{{ articleRelated.url }}" title="{{ articleRelated.title }}">
          {{ article | img_url: '455x300', scale: 2 | img_tag: articleRelated.title }}
        </a>
      </p>
    </noscript>

    <div class="content">
      <h3>
        <a
          aria-label="Read More About {{ articleRelated.title }}"
          title="Read More About {{ articleRelated.title }}"
          href="{{ articleRelated.url }}"
        >
          {{ articleRelated.title | strip_html | truncate: 73 }}
        </a>
      </h3>
      <div class="artical-date-author">
        <div class="date-category-section">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
            <path d="M12.867 3.189h-10.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5v-10.5a1.5 1.5 0 0 0-1.5-1.5zM10.615 1.689v3M4.617 1.689v3M.867 7.689h13.5" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
            {{ article.published_at | date: '%b %e, %Y' }}
          </time>
        </div>
        <div class="author">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
            <path d="M14.59 16.189v-1.667a3.333 3.333 0 0 0-3.334-3.333H4.589a3.333 3.333 0 0 0-3.333 3.333v1.667M7.921 7.855a3.333 3.333 0 1 0 0-6.666 3.333 3.333 0 0 0 0 6.666z" stroke="#000" stroke-width="1.765" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>{{ article.author }}</span>
        </div>
      </div>

      {%- if show_description -%}
        <div class="description">
          {% comment %}
            {%- if articleRelated.excerpt.size > 0 -%}
              {{ articleRelated.excerpt }}
            {%- else -%}
          {% endcomment %}
          {{ articleRelated.content | strip_html | truncate: 145 }}
          {% comment %} {%- endif -%} {% endcomment %}
        </div>
      {%- endif -%}

      {%- if show_readMore -%}
        <a
          href="{{ articleRelated.url }}"
          class="more-btn"
          aria-label="Read More About {{ articleRelated.title }}"
          title="Read More About {{ articleRelated.title }}"
          >Read More</a
        >
      {%- endif -%}
    </div>
  </div>
</div>
