<div class="freq-product-list js__gift-products hide">
  <span class="title uppercase text-center">Free Gift</span>
  <ul>
    {% assign freeGiftProduct1 = all_products[settings.freeProduct1] %}
    {%- assign current_freeGiftProduct1Variant = freeGiftProduct1.selected_or_first_available_variant -%}
    <li
      class="flex js__gift-products-1 js__gift-{{current_freeGiftProduct1Variant.id}}"
      data-handler="{{settings.freeGiftProduct1}}"
      data-attr-variantid="{{current_freeGiftProduct1Variant.id}}"
    >
      <div class="image-section">
        <img
          class="lazyload"
          data-src="{{ freeGiftProduct1.featured_image.src | product_img_url: 'master' }}"
          alt="{{freeGiftProduct1.title}}"
        >
      </div>
      <div class="content">
        <h5>
          <a href="javascript:;" title="{{freeGiftProduct1.title}}">{{ freeGiftProduct1.title }}</a>
        </h5>
        <p>{{ freeGiftProduct1.price | money }}</p>
      </div>
      <div class="add-link">
        <a
          title="Add"
          data-attr-variantid="{{current_freeGiftProduct1Variant.id}}"
          class="freq-add js__freegift-add-to-cart "
          data-gift-number="1"
          role="button"
        >
          {% render 'icon-cart-with-bg' %}
        </a>
      </div>
    </li>
    {% assign freeGiftProduct2 = all_products[settings.freeProduct2] %}
    {%- assign current_freeGiftProduct2Variant = freeGiftProduct2.selected_or_first_available_variant -%}
    <li
      class="flex js__gift-products-2 js__gift-{{current_freeGiftProduct2Variant.id}}"
      data-handler="{{settings.freeGiftProduct2}}"
      data-attr-variantid="{{current_freeGiftProduct2Variant.id}}"
    >
      <div class="image-section">
        <img
          class="lazyload"
          data-src="{{ freeGiftProduct2.featured_image.src | product_img_url: 'master' }}"
          alt="{{freeGiftProduct2.title}}"
        >
      </div>
      <div class="content">
        <h5>
          <a href="javascript:;" title="{{freeGiftProduct2.title}}">{{ freeGiftProduct2.title }}</a>
        </h5>
        <p>{{ freeGiftProduct2.price | money }}</p>
      </div>
      <div class="add-link">
        <a
          title="Add"
          data-attr-variantid="{{current_freeGiftProduct2Variant.id}}"
          class="freq-add js__freegift-add-to-cart "
          data-gift-number="2"
          role="button"
        >
          {% render 'icon-cart-with-bg' %}
        </a>
      </div>
    </li>
  </ul>
</div>
