{% comment %}
  MailChimp is the go-to newsletter service for Shopify.
  Use the link below to find your MailChimp "form action"
  and insert it in your site settings.

  MailChimp newsletter integration and requirement:
   - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
{% endcomment %}
{%- capture newsletter_form_action -%}/contact{%- endcapture -%}
{%- capture newsletter_form -%}

{%- form 'customer', action: newsletter_form_action, class: 'input-group' -%}
{% if form.posted_successfully? %}

  <p class="password-newsletter-success">{{'newsletter.success' | t}}</p>
{% comment %} {% else %}
  <script>
    $(document).ready(function(){
      var newsletterSuccessPopup = (function(){
        
            var popup = $('.newsletter-success-modal');
            var close = popup.find('.close');
        	var success = popup.find('.success');
        	var error = popup.find('.error');
            var overlay = popup.find('.modal-overlay');
            popup.show();
        	error.hide();
        	success.show();
            $.cookie('emailSubcribeModal', 'closed', {
                expires: 1,
                path: '/'
            });
            close.off('click').on('click',function(){
                popup.fadeOut();
            });
            overlay.off('click').on('click',function(){
                popup.fadeOut();
            });
        })();
      	var newURL = location.href.split("?")[0];
        window.history.pushState('object', document.title, newURL);
    })
  </script>
{% endif %} {% endcomment %}
{% else %}

<p class="password-newsletter-already-register">This email has been registered</p>

<script>
    jQuery(document).ready(function($){
    if (window.location.href.indexOf('newsletter&form_type=customer') > -1) {
        $(".password-newsletter-already-register").addClass("active");
        $("form").addClass("active");
      var newsletterSuccessPopup = (function(){
        var popup = $('.newsletter-success-modal');
        var close = popup.find('.close');
        var success = popup.find('.success');
        var error = popup.find('.error');
        var overlay = popup.find('.modal-overlay');
        popup.show();
        error.show();
        success.hide();
        $.cookie('emailSubcribeModal', 'closed', {
          expires: 1,
          path: '/'
        });
        close.off('click').on('click',function(){
          popup.fadeOut();
        });
        overlay.off('click').on('click',function(){
          popup.fadeOut();
        });
      })();
      var newURL = location.href.split("?")[0];
      window.history.pushState('object', document.title, newURL);
    }
    else{
        $(".password-newsletter-already-register").removeClass("active");
        $("form").removeClass("active");
    }
  })
</script>
{% endif %}
{% if form.posted_successfully? %}
    <div class="" style="display:none;">
    <input type="hidden" name="contact[tags]" value="newsletter">
    <input class="input-group-field" type="email" name="contact[email]"  aria-label="Email Address" placeholder="{{ 'newsletter.label' | t }}" required="required">
    <button class="btn-submit btn" type="submit" value="{{ 'newsletter.button_label' | t }}">Subscribe</button>
</div>
{% else %}
<input type="hidden" name="contact[tags]" value="newsletter">
    <input class="input-group-field" type="email" name="contact[email]"  aria-label="Email Address" placeholder="{{ 'newsletter.label' | t }}" required="required">
    <button class="btn-submit btn" type="submit" value="{{ 'newsletter.button_label' | t }}">Subscribe</button>
{% endif %}
{%- endform -%}
{% endcapture %}

{{ newsletter_form }}
<style>
  .newsletter-success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
  }

  .newsletter-success-modal i {
    margin-right: 10px;
    font-size: 16px;
  }

  .newsletter-success-modal i.fa-times {
    color: red;
  }

  .newsletter-success-modal .modal-overlay {
    background-color: rgba(35, 35, 35, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .newsletter-success-modal .halo-modal-content {
    width: 280px;
    padding: 20px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .newsletter-success-modal .halo-modal-content .close {
    background: var(--background_1);
    color: var(--color_1);
    border-color: var(--border_1);
  }

  .newsletter-success-modal .halo-modal-content .close:hover {
    background: var(--background_2);
    color: var(--color_2);
    border-color: var(--border_2);
  }

  .newsletter-success-modal .halo-modal-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
</style>
