<div
  id="modal-{{ productData.id }}"
  class="modal-quick-view 2222 modal modal-{{ productData.id }}"
  style="display: none"
  data-recharge="{% if productData.selling_plan_groups[0].selling_plans %}true{%else%}false{%endif%}"
>
  <!-- Modal content -->

  <div class="modal-content collection-popup">
    <button class="close js__quick-view-popup-close">{% render 'icon-cart-close' %}</button>

 
    {% comment %}
         <button
        data-with-epi="true"
        class="js__swym-button-quickview"

        data-product-id="{{ productData.id }}"
        data-variant-id="{{ productData.variants[0].id }}"
        data-product-url="{{ shop.url }}{{ productData.url }}"
      >
        {% render 'icon-heart' -%}
        {%- render 'icon-heart-filled' %}
      </button>
    {% endcomment %}
    <div class="product flex">
      <div class="product__media-outer">
        <div class="product__media active js-pdp-media">
          <div class="js__popup-collection-slider js__popup-collection-slider-{{ productData.id }} pdp-slider ">
            <div class="swiper-wrapper "></div>
          </div>

          <div class="popup-slider-thumbnail-outer">
            <div
              class="js__popup-collection-slider-thumbnail js__popup-collection-slider-thumbnail-{{ productData.id }} popup-slider-thumbnail "
            >
              <div class="swiper-wrapper "></div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__information">
        <!-- Hide in Small Screen Devices -->

        <h2 class="h2 medium  js__popup-product-name">
          {% if productData.metafields.product.display_name != blank %}
            {{ productData.metafields.product.display_name }}
          {% else %}
            {{ productData.title }}
          {% endif %}
        </h2>
        {% for variant in productData.variants %}
        <div
          class="product-single__prices js__price-popup-price-{{ productData.id }} js__price-popup-{{ variant.id }}"
          itemprop="price"
          content="{{ current_variant.price | divided_by: 100.00 }}"
        >
          {% if variant.price < variant.compare_at_price %}
            
            <s>{{ variant.compare_at_price | money_without_trailing_zeros }}</s>
            <span>{{ variant.price | money_without_trailing_zeros }}</span>
          {% else %}
            <span> {{ variant.price | money_without_trailing_zeros }}</span>
          {% endif %}
        </div>
      {% endfor %}
      {%- if productData.description != blank -%}
        <div class="description">
          <p>{{ productData.description | strip_html | truncate: 150 }}</p>
          <a href="{{productData.url }}" aria-label="Learn More About {{ productData.title }}" class="more-link">Learn More</a>
        </div>
      {%- endif -%}
        
        

        {% comment %} Variants Information {% endcomment %}

        {% if productData.variants != blank %}
          {% unless productData.has_only_default_variant %}
            <div class="pdp-variant-options">
              {% comment %} Custom {% endcomment %}
              {% for option in productData.options_with_values %}
                <div class="variant-option" rc-option{{ forloop.index }}-selector data-type="TYPE">
                  <div class="label">
                    Select {{ option.name -}}
                    <span class="hide selected"></span>
                  </div>

                  <ul
                    data-index="{{ forloop.index }}"
                    class="variant-option-radio js__popup-variant-select js__popup-variant-select-{{ productData.id }} js__popup-variant-select{{ forloop.index }}"
                  >
                    {% for value in option.values %}
                      <li
                        class="box btn--tertiary"
                        data-option="{{ forloop.index }}"
                        data-id="{{productData.id}}"
                        data-value="{{ value }}"
                      >
                        {{ value }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}

              {% comment %} SM {% endcomment %}

              {% for variant in productData.variants %}
                <div class="variant form__group form__group--radio hide">
                  <label
                    class="pdp-option__select{% if forloop.first == true %} active{% endif %}"
                    data-variant_id="{{ variant.id }}"
                  >
                    <input
                      {% if forloop.first == true %}
                        checked
                      {% endif %}
                      name="radio--{{ productData.id }}"
                      type="radio"
                    >
                    <span class="checkmark"></span>
                    <span class="variant__info">
                      {{ variant.title }} - {{ variant.price | money }}

                      {% assign basePrice = productData.price_min %}
                      {% assign varNumber = variant.title | abs %}

                      {% assign normalPrice = basePrice | times: varNumber %}
                      {% assign savedPrice = normalPrice | minus: variant.price %}

                      {% if savedPrice != 0 and product.variants.size > 1 %}
                        <span class="saved"> (Save {{ savedPrice | money }}) </span>
                      {% endif %}
                    </span>
                  </label>
                </div>
              {% endfor %}
              <div class="hide">
                
                <select id="product-select-{{productData.id}}" name="id" style="display: none;">
                  {% for variant in productData.variants %}
                  {% if variant.available %}
                  <option {% if variant==current_variant %}selected="selected"  {% endif %} data-price="{{variant.price | money_without_trailing_zeros}}" value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                  {% else %}
                  <option disabled="disabled" data-soldout="true" data-price="{{variant.price |money_without_trailing_zeros}}" value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              
            </div>
            </div>
          {% endunless %}
        {% endif %}

     
        
        {% if productData.available %}
          <div class="product__actions flex">
            <div class="btn-quantity-outer flex">
              <div class="action action--qty">
                <div class="qty js__popup-quantity quantity-outer">
                  <button class="minus-qty js-plus-minus-qty" data-type="minus">{% render 'icon-minus' %}</button>
                  <input
                    type="text"
                    sm-rc-quantity-selector
                    class="quantity-selector qty-val js-quantity-selector-{{productData.id}}"
                    value="1"
                    id="Quantity"
                    name="quantity"
                  >
                  <button class="plus-qty js-plus-minus-qty" data-type="plus">{% render 'icon-plus' %}</button>
                </div>
              </div>
              <div class="action action--atc">
                <button data-id="{{productData.id}}" class="btn--primary yellow js__modal-popup-addtocart js__modal-popup-addtocart-{{productData.id}}">Add To Cart
                </button>
              </div>
            </div>
          
          </div>

        {% else %}
          <div class="product__actions flex">
            <div class="action action--atc">
              <button disabled class="btn--primary yellow btn--atc">Sold Out</button>
            </div>
          
          </div>
        {% endif %}
        {%- assign productIcon1 = productData.metafields.custom.product_info_three_column_info_section_icon_first_ -%}
        {%- assign productIcon2 = productData.metafields.custom.product_info_three_column_info_section_icon_second_ -%}
        {%- assign productIcon3 = productData.metafields.custom.product_info_three_column_info_section_icon_third_ -%}
        {%- assign productTitle1 = productData.metafields.custom.product_info_three_column_info_section_title_first_ -%}
        {%- assign productTitle2 = productData.metafields.custom.product_info_three_column_info_section_title_second_ -%}
        {%- assign productTitle3 = productData.metafields.custom.product_info_three_column_info_section_title_third_ -%}
       
        

        {% if productIcon1 != blank or productIcon2 != blank or productIcon3 != blank or productTitle1 != blank or productTitle2 != blank or productTitle3 != blank   %}
        <div class="pdp-three-column-box">
          <ul>
            {% if productIcon3 != blank or productTitle3 != blank %}
              <li>
                {% if productIcon3 != blank %}
                  <div class="icon">
                    {{
                      productIcon3
                      | image_url: width: 200
                      | image_tag: loading: 'lazy', widths: '200x200'
                    }}
                    {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                  </div>
                {% endif %}
                {% if productTitle3 != blank %}
                  <span>{{ productTitle3 }}</span>
                {% endif %}
              </li>
            {% endif %}
            {% if productIcon2 != blank or productTitle2 != blank %}
              <li>
                {% if productIcon2 != blank %}
                  <div class="icon">
                    {{
                      productIcon2
                      | image_url: width: 200
                      | image_tag: loading: 'lazy', widths: '200x200'
                    }}
                    {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                  </div>
                {% endif %}
                {% if productTitle2 != blank %}
                  <span>{{ productTitle2 }}</span>
                {% endif %}
              </li>
            {% endif %}
            {% if productIcon1 != blank or productTitle1 != blank %}
              <li>
                {% if productIcon1 != blank %}
                  <div class="icon">
                    {{
                      productIcon1
                      | image_url: width: 200
                      | image_tag: loading: 'lazy', widths: '200x200'
                    }}
                    {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                  </div>
                {% endif %}
                {% if productTitle1 != blank %}
                  <span>{{ productTitle1 }}</span>
                {% endif %}
              </li>
            {% endif %}
          </ul>
          </div>
        {% endif %}
        {% comment %} Product information ends {% endcomment %}
      </div>
      {% comment %} Actions {% endcomment %}
     
    </div>
  </div>
</div>
