{% assign variantFilterType = '' %}
<div class="product__media-outer">
  <div class="product__media active js-pdp-media">
     {% comment %} 
    <div class="swiper-button-prev swiper-button-prev-pdp none-980">
    
      {% include 'icon-arrow-slide-white' %}
    </div>
    <div class="swiper-button-next swiper-button-next-pdp none-980">
      {% include 'icon-arrow-slide' %}
    </div>
    {% endcomment %}
    <!-- BELOW - OLD CODE NOT TO BE USED -->
    <div class="js__pdp-slider pdp-slider">
      
      <span class="product-card__tags-status">
          {% comment %} 
        {% include 'product_tags' with productRelated: product %}
          {% endcomment %}
        {% if product.compare_at_price > product.price %}
          <div class="tag sale">sale!</div>
        {% endif %}
      </span>

      <button 
        data-with-epi="true"
        class="hide wishlist swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
        data-swaction="addToWishlist"
        data-product-id="{{product.id | json}}"
        data-variant-id="{{product.variants[0].id}}"
        data-product-url="{{ shop.url }}{{ product.url }}"
      >
        {% include 'icon-heart' -%}
        {%- include 'icon-heart-filled' %}
      </button>

      <div class="   swiper-wrapper">
        {% for media in product.media %}
          {% assign variantFilterType2 = variant[1] | split: '~' %}
          {% assign variantFilterType2 = variantFilterType2[0] | strip %}
          {% if variantFilterType == '' %}
            {% assign variantFilterType = variantFilterType2 | strip %}
          {% endif %}
          {% assign variant = media.alt | split: '/' %}
          {% assign variantColor = variant[1] | split: '~' %}
          {% assign variantColor = variantColor[1] | strip %}
          {% assign variantColor = variantColor | replace: ' ', '-' %}
          {% assign variantColor = variantColor | downcase %}
          {% if variantColor == '' %}
            {% assign variantColor = 'all' %}
          {% endif %}
          {% case media.media_type %}
            {% when 'image' %}
              <div class="{{variantColor}} swiper-slide slide" data-alt="{{variantColor}}">
                <div class="image-section">
                  <img src="{{ media.src | img_url: 'master' }}" alt="{{ media.alt | escape }}">
                </div>
              </div>
            {% when 'video' %}
              <div class=" {{variantColor | downcase}} swiper-slide slide">
                <div class="image-section video-section">
                  <a href="#product{{ media.id | escape }}">
                    {{ media | video_tag: controls: true, loop: true, autoplay: true, muted: true }}
                  </a>
                </div>
              </div>
            {% when 'external_video' %}
              <div class=" {{variantColor | downcase}} swiper-slide slide">
                <div class="image-section video-section">
                  {{ media | external_video_tag }}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination block-980"></div>
    </div>
    <div class=" outer-pdp-thumbnail-slider">
      <div class="js__pdp-thumbnail-slider pdp-thumbnail-outer">
        <div class="pdp-thumbnail swiper-wrapper  js__pdp-thumbnail mt-45">
          {% for media in product.media %}
            {% assign variant2 = media.alt | split: '/' %}
            {% assign variantColor = variant2[1] | split: '~' %}
            {% assign variantColor = variantColor[1] | strip %}
            {% assign variantColor = variantColor | replace: ' ', '-' %}
            {% assign variantColor = variantColor | downcase %}
            {% if variantColor == '' %}
              {% assign variantColor = 'all' %}
            {% endif %}
            {% case media.media_type %}
              {% when 'image' %}
                <div class="{{variantColor}} swiper-slide slide" data-alt="{{variantColor}}">
                  <div class="image-section">
                    <img src="{{ media.src | img_url: 'master' }}" alt="{{ media.alt | escape }}">
                  </div>
                </div>
              {% when 'video' %}
                <div class=" {{variantColor | downcase}} swiper-slide slide">
                  <div class="image-section video-section">
                    <a href="#product{{ media.id | escape }}"> </a>
                  </div>
                </div>
              {% when 'external_video' %}
                <div class=" {{variantColor | downcase}} swiper-slide slide">
                  <div class="image-section video-section">
                    <a href="#product{{ media.id | escape }}"> </a>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      {% comment %}
        <div class="swiper-button-prev swiper-button-prev-pdp">
          {% include 'icon-arrow-slide' %}
        </div>
        <div class="swiper-button-next swiper-button-next-pdp">
          {% include 'icon-arrow-slide' %}
        </div>
      {% endcomment %}
    </div>
  </div>
</div>

<input type="hidden" value="{{variantFilterType | upcase}}" id="variantFilterType">
