{% comment %}
  <script
    type="text/javascript"
    src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"
  ></script>
{% endcomment %}
<link href="{{ 'theme.css' | asset_url }}">
{% comment %} AOS SCRIPT {% endcomment %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Product object -->
<script>
  window.theme = window.theme || {};
  var theme = {
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
  soldOut: {{ 'products.product.sold_out' | t | json}},
  unavailable: {{ 'products.product.unavailable' | t | json}}
      },
  settings: {
    // Adding some settings to allow the editor to update correctly when they are changed
  },
  variables: {
    mediaQueryMedium: 'screen and (max-width: 768px)',
      bpSmall: false
  },
  moneyFormat: {{ shop.money_format | json}}
    }
  document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
</script>
<script>
  var prodLib = [
  {%- unless product.has_only_default_variant -%}
    {% if product.variants.size > 0%}
    {% for variant in product.variants %}
    {
      "productID":"{{product.id}}",
      "id":"{{variant.id}}",
      "handle":"{{variant.handle}}",
      "option1":"{{variant.option1}}",
      "option2":"{{variant.option2}}",
      "option3":"{{variant.option3}}",
      "image":"{{variant.image | img_url}}",
      "sku":"{{ variant.sku }}",
      "quantity":"{{variant.inventory_quantity}}",
      "price":"{{variant.price}}",
      "priceCompared":"{{variant.compare_at_price}}",
      "available":"{{variant.available}}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
    {%endif%}
    {%endunless%}
  ];
</script>

<script>
  var cartLib = [
    {% if cart.item_count > 0%}
    {% for item in cart.items %}
    {
      "id":"{{item.id}}",
      "title":"{{item.title}}",
      "price":"{{item.price}}",
      "comparePrice":"{{item.variant.product.compare_at_price}}",
      "quantity":"{{item.quantity}}",
     // "variant":'{{item.variant | json}}'
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
    {%endif%}

  ];
</script>



<script>
  var globalLib = [
    {
      Variant_Display: 'dropdown',
      Color_Swatches: 'yes',
      Color_Swatches_Limit: '3',
      Color_Swatches_ViewAll: 'yes',
      Image_Popup: 'no',
      Image_Zoom: 'no',
      Free_Shipping_progressbar: 'yes',
      Static_Addons: 'yes',
      Dynamic_Addons: 'yes',
      Mini_Cart: 'yes',
      Footer_Accordion: 'yes',
      FAQ_Side_Panel: 'no',
      PDP_Slider_Thumbnail: 'horizontal',
      PDP_Slider_Thumbnail_Viewmore: 'on',
      PDP_Thumbnail_Viewmore_Click: 'popup',
      Product_Recommendation_Slider: 'off',
    },
  ];
  function getglobalLib(type) {
    var globalLibValue = '';
    $.each(globalLib, function (key, value) {
      globalLibValue = value[type];
    });
    return globalLibValue;
  }
</script>

{% render 'recharge-script-loop' %}

<span
  class="js__free-gift-1"
  style="
    position: fixed;
    visibility: hidden;
  "
>
  {{- settings.freeGift1ThresholdValue -}}
</span>
<span
  class="js__free-gift-2"
  style="
    position: fixed;
    visibility: hidden;
  "
>
  {{- settings.freeGift2ThresholdValue -}}
</span>
{% assign freeGiftProduct1 = all_products[settings.freeProduct1] %}
{%- assign current_freeGiftProduct1Variant = freeGiftProduct1.selected_or_first_available_variant -%}
<span class="js__free-gift-product-1" data-attr-variantid="{{current_freeGiftProduct1Variant.id}}"></span>
{% assign freeGiftProduct2 = all_products[settings.freeProduct2] %}
{%- assign current_freeGiftProduct2Variant = freeGiftProduct2.selected_or_first_available_variant -%}
<span class="js__free-gift-product-2" data-attr-variantid="{{current_freeGiftProduct2Variant.id}}"></span>
