<ul class="flex-justify-center main-nav-list">
  {% for link in mainMenu.links %}
    {% if link.links != blank %}
      <!-- If first child menus are there -->
      {% assign parent_index = forloop.index %}
      {% assign linkTitle = link.title | downcase | remove: ' ' %}

      <li
        class="{% if link.levels ==  2 or linkTitle contains 'shop'%}has-big-nav{%else%}has-sub-nav{%endif%}"
        aria-haspopup="true"
      >
        {% comment %}  {% endcomment %}

        <a
          href="{{ link.url}}"
          title=" {{ link.title | escape }}"
          class="site-nav__link none-980 first-link"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless request.page_type == 'index' %}
            {%- if link.active %}aria-current="page" {% endif -%}
          {% endunless %}
        >
          <span>{{ link.title | escape }}</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.96387 1.45538L6.42191 5.91342L10.8799 1.45538" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a
          href="{{ link.url}}"
          title=" {{ link.title | escape }}"
          class="site-nav__link block-980 first-link"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless request.page_type == 'index' %}
            {%- if link.active %}aria-current="page" {% endif -%}
          {% endunless %}
        >
          <span>{{ link.title | escape }}</span>
        </a>
        <button class="accordion-toggle  block-980">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.96387 1.45538L6.42191 5.91342L10.8799 1.45538" stroke="#3b2900" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        {% comment %} BIG NAV {% endcomment %}

        {% if linkTitle contains 'shop' or link.levels == 2 %}
          <div class="big-nav accordion-content">
            <div class="container-1160">
              <div class="flex inner-wrapper-outer">
                {% if linkTitle contains 'shop' %}
                  <div class="big-nav-menu flex">
                    <ul class="sub-nav-links">
                      <li class="title none-980">
                        Categories
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="9" viewBox="0 0 73 9" fill="none">
                          <path d="M.863 4.5s9.617-8.527 35.8 0c26.181 8.526 35.798 0 35.798 0" stroke="#FFC82B" stroke-linecap="round" stroke-dasharray="6 6"/>
                        </svg>
                      </li>
                      {% for childlink in link.links %}
                        <li>
                          <a
                            href="{{ childlink.url }}"
                            title="{{ childlink.title | escape }}"
                            aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                            data-meganav-type="parent"
                            {% unless request.page_type == 'index' %}
                              {%- if childlink.active %}aria-current="page" {% endif -%}
                            {% endunless %}
                          >
                            {{ childlink.title | escape -}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="big-nav-menu flex">
                    {% for childlink in link.links %}
                      {% if childlink.links != blank %}
                        {% assign childlinkTitle = childlink.title | downcase | remove: ' ' %}

                        <div class="big-nav-links">
                          <a
                            href="{{childlink.url}}"
                            title=" {{ childlink.title | escape }}"
                            class="none-980 sub-link pre-title border"

                            aria-controls="MenuParent-{{ child_index }}"
                            aria-expanded="false"
                          >
                            {{ childlink.title }}
                          </a>
                          <p class="accordion-toggle-inner block-980">
                            {{ childlink.title | escape }}
                          </p>
                          <ul class="accordion-content-inner">
                            {% for subChildlink in childlink.links %}
                              <li>
                                <a
                                  href="{{ subChildlink.url }}"
                                  data-meganav-type="parent"
                                  aria-controls="MenuParent-{{ parent_index }}"
                                  aria-expanded="false"
                                  {% unless request.page_type == 'index' %}
                                    {%- if subChildlink.active %}aria-current="page" {% endif -%}
                                  {% endunless %}
                                >
                                  {{ subChildlink.title | escape }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="two-column-product-section none-980">
                  <div class="flex inner-wrapper">
                    {%- for block in section.blocks limit: 2 -%}
                      {% assign productRelated = all_products[block.settings.product] %}
                      {% if productRelated != empty %}
                        <div class="product-card">
                          {% include 'product_Card'  with  productRelated: productRelated , show_price:false, show_tags: false, show_auto_tags: false, show_title: true, show_fav: false, show_secondary_button: false %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% else %}
          {% comment %} SUB NAV {% endcomment %}
          {% if link.levels == 1 %}
            <div class="sub-nav accordion-content">
              <div class="flex">
                <ul class="sub-nav-links">
                  {% for childlink in link.links %}
                    <li>
                      <a
                        href="{{ childlink.url }}"
                        title="{{ childlink.title | escape }}"
                        aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                        data-meganav-type="parent"
                        {% unless request.page_type == 'index' %}
                          {%- if childlink.active %}aria-current="page" {% endif -%}
                        {% endunless %}
                      >
                        {{ childlink.title | escape -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </li>
    {% else %}
      <!-- If NO child menus are there -->

      {% assign linkTitle = link.title | downcase | remove: ' ' %}

      <li class="">
        <a
          href="{{ link.url}}"
          title="{{ link.title | escape }}"
          class="{% if linkTitle contains 'support' %}site-nav__link none-980{%endif%} first-link"
        >
          <span>{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
