<ul class="flex-justify-center main-nav-list">
  {% for link in mainMenu.links %}
    {% if link.links != blank %}
      <!-- If first child menus are there -->
      {% assign parent_index = forloop.index %}
      {% assign linkTitle = link.title | downcase | remove: ' ' %}

      <li
        class="{% if link.levels ==  2 or linkTitle contains 'shop'%}has-big-nav{%else%}has-sub-nav{%endif%}"
        aria-haspopup="true"
      >
        {% comment %}  {% endcomment %}

        <a
          href=" {{ link.url}}"
          title=" {{ link.title | escape }}"
          class="site-nav__link none-980"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless request.page_type == 'index' %}
            {%- if link.active %}aria-current="page" {% endif -%}
          {% endunless %}
        >
          {{ link.title | escape }}

          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.96387 1.45538L6.42191 5.91342L10.8799 1.45538" stroke="white" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <a
          href=" {{ link.url}}"
          title=" {{ link.title | escape }}"
          class="site-nav__link accordion-toggle block-980"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless request.page_type == 'index' %}
            {%- if link.active %}aria-current="page" {% endif -%}
          {% endunless %}
        >
          {{ link.title | escape }}
        </a>
        <button class="accordion-toggle  block-980">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M1.96387 1.45538L6.42191 5.91342L10.8799 1.45538" stroke="#3b2900" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        {% comment %} BIG NAV {% endcomment %}

        {% if linkTitle contains 'shop' or link.levels == 2 %}
          <div class="big-nav accordion-content">
            <div class="container-1160">
              <div class="flex">
                {% if linkTitle contains 'shop' %}
                  <div class="big-nav-menu flex">
                    <ul class="sub-nav-links">
                      <li class="title none-980">
                        Categories
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="9" viewBox="0 0 73 9" fill="none">
                          <path d="M.863 4.5s9.617-8.527 35.8 0c26.181 8.526 35.798 0 35.798 0" stroke="#FFC82B" stroke-linecap="round" stroke-dasharray="6 6"/>
                        </svg>
                      </li>
                      {% for childlink in link.links %}
                        <li>
                          <a
                            href="{{ childlink.url }}"
                            title="{{ childlink.title | escape }}"
                            aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                            data-meganav-type="parent"
                            {% unless request.page_type == 'index' %}
                              {%- if childlink.active %}aria-current="page" {% endif -%}
                            {% endunless %}
                          >
                            {{ childlink.title | escape -}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="big-nav-menu flex">
                    {% for childlink in link.links %}
                      {% if childlink.links != blank %}
                        {% assign childlinkTitle = childlink.title | downcase | remove: ' ' %}

                        <div class="big-nav-links">
                          <a
                            href="{{childlink.url}}"
                            title=" {{ childlink.title | escape }}"
                            class="none-980 sub-link pre-title border"

                            aria-controls="MenuParent-{{ child_index }}"
                            aria-expanded="false"
                          >
                            {{ childlink.title }}
                          </a>
                          <p class="accordion-toggle-inner block-980">
                            {{ childlink.title | escape }}
                          </p>
                          <ul class="accordion-content-inner">
                            {% for subChildlink in childlink.links %}
                              <li>
                                <a
                                  href="{{ subChildlink.url }}"
                                  data-meganav-type="parent"
                                  aria-controls="MenuParent-{{ parent_index }}"
                                  aria-expanded="false"
                                  {% unless request.page_type == 'index' %}
                                    {%- if subChildlink.active %}aria-current="page" {% endif -%}
                                  {% endunless %}
                                >
                                  {{ subChildlink.title | escape }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="two-column-product-section none-980">
                  <div class="flex inner-wrapper">
                    {%- for block in section.blocks limit: 2 -%}
                      {% assign productRelated = all_products[block.settings.product] %}
                      {% if productRelated != empty %}
                        <div class="product-card">
                          {% include 'product_Card'  with  productRelated: productRelated , show_price:false, show_tags: false, show_auto_tags: false, show_title: true, show_fav: false, show_secondary_button: false %}
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% comment %}
                      {% for block in section.blocks -%}
                        {% assign linkTitlecat = block.settings.category | downcase | remove: ' ' %}
                        {% if linkTitle contains linkTitlecat %}
                          {% if block.settings.title != blank %}
                            <li
                              class="
                                featured-card {% if block.settings.content_alignment == "center" %} center-align{%endif%} {% if block.settings.content_alignment == "right" %} right-align{%endif%}{% if
                                block.settings.content_alignment == "left" %} left-align{%endif%}
                              "
                            >
                              <a
                                href="{{block.settings.link}}"
                                title="{{block.settings.linkText}}"
                                class="inner-wrapper"
                              >
                                <div class="image-section">
                                  <img src="{{ block.settings.image | img_url: '360x200' }}" alt="">
                                </div>
                                <div class="content">
                                  <span class="title">{{ block.settings.title }}</span>
                                  <span class="link--primary">
                                    {{- block.settings.linkText -}}
                                  </span>
                                </div>
                              </a>
                            </li>
                          {% endif %}
                        {% endif %}
                      {%- endfor %}
                    {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% else %}
          {% comment %} SUB NAV {% endcomment %}
          {% if link.levels == 1 %}
            <div class="sub-nav accordion-content">
              <div class="flex">
                <ul class="sub-nav-links">
                  {% for childlink in link.links %}
                    <li>
                      <a
                        href="{{ childlink.url }}"
                        title="{{ childlink.title | escape }}"
                        aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                        data-meganav-type="parent"
                        {% unless request.page_type == 'index' %}
                          {%- if childlink.active %}aria-current="page" {% endif -%}
                        {% endunless %}
                      >
                        {{ childlink.title | escape -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </li>
    {% else %}
      <!-- If NO child menus are there -->

      {% assign linkTitle = link.title | downcase | remove: ' ' %}

      <li class="">
        <a
          href=" {{ link.url}}"
          title="{{ link.title | escape }}"
          class="{% if linkTitle contains 'support' %}site-nav__link none-980{%endif%}"
        >
          {{ link.title | escape }}
        </a>
        {% comment %}
          {% if linkTitle contains 'support' %}
            <p class="accordion-toggle block-980">{{ link.title | escape }}</p>
          {% endif %}
        {% endcomment %}
        {% comment %}
          {% if linkTitle contains 'getstarted' %}
            <div class="big-nav none-980">
              <div class="container-1360">
                <div class="flex center">
                  <div class="two-column-product-section none-980">
                    <ul class="flex-wrap">
                      {% for block in section.blocks -%}
                        {% assign linkTitlecat = block.settings.category | downcase | remove: ' ' %}
                        {% if linkTitle contains linkTitlecat %}
                          {% if block.settings.title != blank %}
                            <li
                              class="
                                featured-card {% if block.settings.content_alignment == "center" %} center-align{%endif%} {% if block.settings.content_alignment == "right" %} right-align{%endif%}{% if
                                block.settings.content_alignment == "left" %} left-align{%endif%}
                              "
                            >
                              <a href="{{block.settings.link}}" title="{{block.settings.linkText}}" class="inner-wrapper">
                                <div class="image-section">
                                  <img src="{{ block.settings.image | img_url: '360x200' }}" alt="">
                                </div>
                                <div class="content">
                                  <span class="title">{{ block.settings.title }}</span>
                                  <span class="link--primary">
                                    {{- block.settings.linkText -}}
                                  </span>
                                </div>
                              </a>
                            </li>
                          {% endif %}
                        {% endif %}
                      {%- endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endcomment %}
        {% comment %}
          {% if linkTitle contains 'support' %}
            <div class="sub-nav accordion-content">
              <div class="flex">
                <ul class="sub-nav-links">
                  <div class="contact-into-section">
                    <ul>
                      {% if settings.chatText != blank %}
                        <li>
                          <span class="title">Chat:</span>
                          <a href="{{settings.chatLink}}" title="{{settings.chatText }}">{{ settings.chatText }}</a>
                        </li>
                      {% endif %}
                      {% if settings.number != blank %}
                        <li>
                          <span class="title">Phone:</span>
                          <a
                            href="tel:{% if settings.numberPlusSign == true %}+{%endif%}{{settings.number}}"
                            title="call-{{settings.number}}"
                          >
                            {{- settings.number -}}
                          </a>
                        </li>
                      {% endif %}
                      {% if settings.textnumber != blank %}
                        <li>
                          <span class="title">Text Us:</span>
                          <a
                            href="{{settings.textnumber}}"
                            title="text-{{settings.textnumber}}"
                          >
                            {{- settings.textnumber -}}
                          </a>
                        </li>
                      {% endif %}
                      {% if settings.emailAddress != blank %}
                        <li>
                          <span class="title">Email:</span>
                          <a href="mailto:{{settings.emailAddress}}" title="mail-{{settings.emailAddress}}">
                            {{ settings.emailAddress -}}
                          </a>
                        </li>
                      {% endif %}
                      {% if settings.trackLinkText != blank and settings.trackLink != bank %}
                        <li>
                          <span class="title">Orders:</span>
                          <a href="{{settings.trackLink }}" title="{{settings.trackLinkText }}">
                            {{- settings.trackLinkText -}}
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </ul>
              </div>
            </div>
          {% endif %}
        {% endcomment %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
