{% comment %}
  Edit this next function as the success function on new item added to cart
{% endcomment %}
<script>
  function successState() {
    // success state goes here.
    // console.log('added');
    setTimeout(function () {
      /* jQuery.getJSON('/cart.js', function (cart) {
        refreshMiniCart(cart);
      });*/
    }, 200);
  }
</script>
{% comment %}
  ----------------------- How To Use: -----------------------

  Outside of this snippet assign a liquid variable _product to whatever product you want to set recharge up on
  If you leave it blank it will use the current product object if you are on a product page

  Edit the above function successState() with any and all js you need for when the product is finished adding to the cart (open minicart, go to cart page, etc.)

  Either create your own controllers elsewhere and have them change the selectors in here, or use the following properties to bind the js to your own selectors:

  sm-rc-option1-selector - option selector for the first variant options
  sm-rc-option2-selector - option selector for the second variant options
  sm-rc-option3-selector - option selector for the third variant options
  sm-rc-variant-selector - variant selector, needs all of the data attributes in place if you are going to make your own
  sm-rc-plan-selector - subscription plan selector, needs all of the data attributes in place if you are going to make your own
  sm-rc-quantity-selector - can go on any number input to use as quantity selector
  sm-rc-add-to-cart - can go on any button to use as a buy button

  There are also some display properties that will let you display relevant info as you change variants and plans:

  sm-rc-current-price - displays the current price for the variant and plan selected
  sm-rc-current-plan-title - displays the plan title ex: "Deliver every 30 days"
  sm-rc-current-variant-title - displays the title of the selected variant
  sm-rc-variant-subscribe-price - displays the price if you were to subscribe with the selected variant
  sm-rc-variant-one-time-price - displays the price if you were to make a one time purchase with the selected variant
  sm-rc-discount-ammount - shows the discount amount text that you can add to a span after the word Subscribe on a button, ex: "& and save 10%"
{% endcomment %}

{% if _product.selling_plan_groups[0].selling_plans %}
  {% unless _product %}
    {% assign _product = product %}
  {% endunless %}

  <div class="sm-rc-widget" style="">
    {% for option in _product.options_with_values %}
      <select
        class="sm-rc-widget__testSelector sm-rc-option-{{ forloop.index }}"
        sm-rc-option{{ forloop.index }}-selector
      >
        {% for value in option.values %}
          <option value="{{ value }}">
            {{ value }}
          </option>
        {% endfor %}
      </select>
    {% endfor %}

    <select class="sm-rc-widget__testSelector" sm-rc-variant-selector>
      {% for _variant in _product.variants %}
        <option
          value="{{ _variant.id }}"
          data-available="{{ _variant.available }}"
          data-price="{{ _variant.price | money }}"
          data-compare-price="{{ _variant.compare_at_price | money }}"
          data-option-1="{{ _variant.option1 }}"
          data-option-2="{{ _variant.option2 }}"
          data-option-3="{{ _variant.option3 }}"
          data-title="{{ _variant.title }}"
          data-image="{{ _variant.image | img_url: '150x150'  }}"
        >
          {{ _variant.title }}
        </option>
      {% endfor %}
    </select>
    <select class="sm-rc-widget__testSelector plan custom-dropdown-select" sm-rc-plan-selector>
      {% unless _product.requires_selling_plan %}
        <option
          value="false"
          data-title="One Time Purchase"
          data-discount="0"
        >
          One Time Purchase
        </option>
      {% endunless %}
      {% for selling_plan in _product.selling_plan_groups[0].selling_plans %}
        <option
          value="{{ selling_plan.id }}"
          data-title="{{ selling_plan.name }}"
          selected
          data-discount="{{ selling_plan.price_adjustments[0].value }}"
        >
          {{ selling_plan.name }}
        </option>
      {% endfor %}
    </select>
    <!-- <input class="sm-rc-widget_testInput" sm-rc-quantity-selector value="1" type="number" min="1"> -->
    <!-- <button class="sm-rc-widget__testButton" sm-rc-add-to-cart>Add To Cart</button> -->

    <div class="sm-rc-testText" sm-rc-current-price></div>
    <div class="sm-rc-testText" sm-rc-current-plan-title></div>
    <div class="sm-rc-testText" sm-rc-current-variant-title></div>
    <div class="sm-rc-testText" sm-rc-variant-subscribe-price></div>
    <div class="sm-rc-testText" sm-rc-variant-one-time-price></div>
    <div class="sm-rc-testText" sm-rc-discount-ammount></div>
  </div>

{% else %}
  {% unless _product %}
    {% assign _product = product %}
  {% endunless %}

  <div class="sm-rc-widget">
    {% for option in _product.options_with_values %}
      <select
        class="sm-rc-widget__testSelector sm-rc-option-{{ forloop.index }}"
        sm-rc-option{{ forloop.index }}-selector
      >
        {% for value in option.values %}
          <option value="{{ value }}">
            {{ value }}
          </option>
        {% endfor %}
      </select>
    {% endfor %}

    <select class="sm-rc-widget__testSelector" sm-rc-variant-selector>
      {% for _variant in _product.variants %}
        <option
          value="{{ _variant.id }}"
          data-available="{{ _variant.available }}"
          data-price="{{ _variant.price | money }}"
          data-compare-price="{{ _variant.compare_at_price | money }}"
          data-option-1="{{ _variant.option1 }}"
          data-option-2="{{ _variant.option2 }}"
          data-option-3="{{ _variant.option3 }}"
          data-title="{{ _variant.title }}"
          data-image="{{ _variant.image | img_url: '150x150'  }}"
        >
          {{ _variant.title }}
        </option>
      {% endfor %}
    </select>

    <!-- <input class="sm-rc-widget_testInput" sm-rc-quantity-selector value="1" type="number" min="1"> -->
    <!-- <button class="sm-rc-widget__testButton" sm-rc-add-to-cart>Add To Cart</button> -->

    <div class="sm-rc-testText" sm-rc-current-price></div>
    <div class="sm-rc-testText" sm-rc-current-variant-title></div>
  </div>
{% endif %}
