{% if request.page_type == 'article' or request.page_type == 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{
shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless
%}{% endcapture %}
{% endif %}

<ul data-permalink="{{ permalinkURL }}" class="flex-align-center">
  {% if settings.share_facebook %}
    <li>
      <a
        target="_blank"
        href="//www.facebook.com/sharer.php?u={{ permalinkURL }}"
        class="share-facebook"
        title="{{ 'general.social.alt_text.share_on_facebook' | t }}"
      >
        <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M42.8825 21.9407C42.8825 26.6977 40.5505 30.8725 37.0414 33.2287C34.6012 34.8671 32.3339 36.7777 30.2068 38.8571C28.4079 40.615 26.0121 41.6883 23.3829 41.6883C21.6 41.6883 19.9244 41.1953 18.4697 40.3296C16.1279 38.9367 13.5538 38.0596 10.898 37.6775C6.30322 37.0157 0 34.3201 0 24.7776C0 21.405 1.03782 18.3073 2.8926 15.9046C4.46264 13.8708 5.76302 11.6199 6.87092 9.26459C9.4566 3.76993 14.7797 0 20.9276 0C25.9278 0 30.3816 2.49369 33.2618 6.3812C34.6145 8.20833 36.1473 9.87901 37.8912 11.2766C40.9221 13.7068 42.8825 17.5791 42.8825 21.9407Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M42.8833 21.9407C42.8833 21.8871 42.883 21.8335 42.8825 21.78C42.8793 21.498 42.868 21.2182 42.8488 20.9407C42.5745 16.9904 40.6884 13.5194 37.8912 11.2766C36.1473 9.87901 34.6145 8.20833 33.2618 6.3812C30.3816 2.49369 25.9278 0 20.9276 0C14.7797 0 9.4566 3.76993 6.87092 9.26459C5.76302 11.6199 4.46264 13.8708 2.8926 15.9046C1.03782 18.3073 0 21.405 0 24.7776C0 34.3201 6.30322 37.0157 10.898 37.6775C13.5538 38.0596 16.1279 38.9367 18.4697 40.3296C19.9244 41.1953 21.6 41.6883 23.3829 41.6883C26.0121 41.6883 28.4079 40.615 30.2068 38.8571C32.3339 36.7777 34.6012 34.8671 37.0414 33.2287C40.5505 30.8725 42.8825 26.6977 42.8825 21.9407H42.8833ZM41.8825 21.7856C41.8366 17.7894 40.0228 14.2676 37.2658 12.0569C35.4423 10.5955 33.8516 8.85847 32.4583 6.9765C29.7488 3.31944 25.5821 1 20.9276 1C15.2082 1 10.2148 4.50735 7.7758 9.69025M41.8825 21.7856V21.9407C41.8825 26.3698 39.712 30.231 36.4839 32.3985C33.9836 34.0773 31.6694 36.0289 29.5079 38.1418C27.8816 39.7312 25.7315 40.6883 23.3829 40.6883C21.7877 40.6883 20.2878 40.2478 18.9811 39.4702L18.9809 39.4701C16.5203 38.0065 13.8198 37.0876 11.0406 36.6877C8.85083 36.3723 6.34496 35.5825 4.39764 33.817C2.48338 32.0814 1 29.305 1 24.7776C1 21.6097 1.97422 18.7308 3.68417 16.5157C5.30842 14.4117 6.64464 12.0949 7.77574 9.69039" fill="#E9DFC1"/>
          <path d="M22.3333 21.625H24.2381L25 18.625H22.3333V17.125C22.3333 16.3525 22.3333 15.625 23.8571 15.625H25V13.105C24.7516 13.0728 23.8137 13 22.8232 13C20.7547 13 19.2857 14.2427 19.2857 16.525V18.625H17V21.625H19.2857V28H22.3333V21.625Z" fill="#D51F91"/>
        </svg>

        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% if settings.share_twitter %}
    <li>
      <a
        target="_blank"
        href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}"
        class="share-twitter"
        title="{{ 'general.social.alt_text.share_on_twitter' | t }}"
      >
        {% include 'icon-twitter' %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% if settings.share_pinterest %}
    <li>
      <a
        target="_blank"
        href="http://pinterest.com/pin/create/link/?url={{ permalinkURL }}"
        class="share-pinterest"
        title="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
      >
        {% include 'icon-social-pinterest-black' %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
      </a>
    </li>
  {% endif %}
  {% if settings.share_linkedin %}
    <li>
      <a
        target="_blank"
        href="//linkedin.com/sharing/share-offsite/?url={{ permalinkURL }}"
        class="share-pinterest"
        title="{{ 'general.social.alt_text.share_on_linkedin' | t }}"
      >
        {% include 'icon-linkedin' %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_linkedin' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% if settings.share_instagram %}
    <li>
      <a
        target="_blank"
        href="https://www.instagram.com/sharer.php?u={{ permalinkURL }}"
        class="share-instagram"
        title="{{ 'general.social.alt_text.share_on_instagram' | t }}"
      >
        {% include 'icon-instagram-black' %}
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_instagram' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% comment %}
    {% if settings.copy_link %}
      <li>
        <a onclick="window.print();return false;">{% include 'icon-mail-black' -%}</a>
      </li>
    {% endif %}
  {% endcomment %}

  <script>
    jQuery('.js-copy-link').on('click', function () {
      var copyText = document.getElementById('getLink');
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand('copy');
      //jQuery('.copy').text('Copied!');
      var tooltip = document.getElementById('myTooltip');
      tooltip.innerHTML = 'Copied';
    });
  </script>
</ul>
<input type="text" style="opacity: 0; position: fixed;z-index:-1;" id="getLink" value="{{shop.url}}{{article.url}}">
