{% if request.page_type == 'article' or request.page_type == 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{
shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless
%}{% endcapture %}
{% endif %}

<ul data-permalink="{{ permalinkURL }}" class="flex-align-center">
  {% if settings.share_facebook %}
    <li>
      <a
        target="_blank"
        href="//www.facebook.com/sharer.php?u={{ permalinkURL }}"
        class="share-facebook"
        title="{{ 'general.social.alt_text.share_on_facebook' | t }}"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none">
          <path d="M42.383 22.283c-.047-4.146-1.93-7.81-4.805-10.116-1.783-1.43-3.345-3.134-4.718-4.988C30.065 3.407 25.755 1 20.928 1 14.994 1 9.836 4.639 7.323 9.977c-1.12 2.38-2.437 4.664-4.035 6.733C1.506 19.02.5 22.007.5 25.278c0 4.649 1.53 7.567 3.562 9.41 2.049 1.857 4.664 2.671 6.907 2.995l-.071.495c2.656.382 5.23 1.259 7.572 2.652l23.913-18.547zm0 0v.158c0 4.593-2.252 8.61-5.62 10.873-2.47 1.658-4.761 3.59-6.906 5.685l12.526-16.716z" fill="#fff" stroke="#E9DFC1"/>
          <path d="M23.333 22.125h1.905l.762-3h-2.667v-1.5c0-.773 0-1.5 1.524-1.5H26v-2.52a21.814 21.814 0 0 0-2.177-.105c-2.068 0-3.537 1.243-3.537 3.525v2.1H18v3h2.286V28.5h3.047v-6.375z" fill="#D51F91"/>
        </svg>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    </li>
  {% endif %}

  {% comment %}
    {% if settings.share_twitter %}
      <li>
        <a
          target="_blank"
          href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}"
          class="share-twitter"
          title="{{ 'general.social.alt_text.share_on_twitter' | t }}"
        >
          {% include 'icon-social-twitter-black' %}
          <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
        </a>
      </li>
    {% endif %}
  {% endcomment %}
  {% comment %}
    {% if settings.share_pinterest %}
      <li>
        <a
          target="_blank"
          href="http://pinterest.com/pin/create/link/?url={{ permalinkURL }}"
          class="share-pinterest"
          title="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
        >
          {% include 'icon-social-pinterest-black' %}
          <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
        </a>
      </li>
    {% endif %}
  {% endcomment %}
  {% comment %}
    {% if settings.copy_link %}
      <li>
        <a onclick="window.print();return false;">{% include 'icon-mail-black' -%}</a>
      </li>
    {% endif %}
  {% endcomment %}

  <script>
    jQuery('.js-copy-link').on('click', function () {
      var copyText = document.getElementById('getLink');
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand('copy');
      //jQuery('.copy').text('Copied!');
      var tooltip = document.getElementById('myTooltip');
      tooltip.innerHTML = 'Copied';
    });
  </script>
</ul>
<input type="text" style="opacity: 0; position: fixed;z-index:-1;" id="getLink" value="{{shop.url}}{{article.url}}">
