{% if section.settings.title != blank %}
  <div class="error-page">
    {% comment %}
      {% if section.settings.backgroundImage != blank %}
        <div class="image-section">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="{% if section.settings.backgroundImageMobile != blank %}{{ section.settings.backgroundImageMobile | img_url: '750x1400' }}{%endif%}"
            >
            <img
              src="{{ section.settings.backgroundImage | img_url: '2880x1620' }}"
              alt="{{ section.settings.backgroundImage.alt}}"
            >
          </picture>
        </div>
      {% endif %}
    {% endcomment %}

    <div class="container-1240">
      <div class="inner">
        {% if section.settings.title != blank %}
          <h1 class="normal">{{ section.settings.title }}</h1>
        {% endif %}
        {% if section.settings.pretitle != blank %}
          <p class="pre-title">{{ section.settings.pretitle }}</p>
        {% endif %}
        {% if section.settings.buttonText != blank %}
          <a
            class="btn--primary"
            href="{{ section.settings.buttonUrl }}"
            title="{{ section.settings.title }}"
            aria-label="Read More About {{ section.settings.title }}"
          >
            {{ section.settings.buttonText }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text (home)"
    },
    {
      "type": "url",
      "id": "buttonUrl",
      "label": "Button Url (home)"
    }
  ]
}
{% endschema %}
