

<div class="account-section">
 <div class="inner">
    <div class="container-1260">
      <div class="heading-section">
      <h1 class="h2">{{ 'customer.account.title' | t }}</h1>
      
     <a class="link--primary--small" href="/account/logout" title="logout">Logout</a>
      </div>
    
      <div class="account-section__wrapper flex">
        <div class="account-section__table ">
          {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}
          <table>
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr>
                <td data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                  <a href="{{ order.customer_url }}" class="btn--small"
                    aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                </td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>
          {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}
          {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
          {%- endif -%}
          {% endpaginate %}
        </div>
        <div class="account-section__address width-230">
        <div class="account-address-info">
          <p class="customer-name">{{ customer.name}}</p>
          <p>
            {% if customer.default_address != nil %}
              {% if customer.default_address.address1 != blank %}
            {{ customer.default_address.address1 }}, <br />
            {% endif %}
            {% if customer.default_address.address2 != blank %}
            {{ customer.default_address.address2 }}, <br />
            {% endif %}
            {% if customer.default_address.city != blank %}
            {{ customer.default_address.city}}, 
          {% endif %}
            {% if address.province_code %}
            {{customer.default_address.province_code}}, 
            {% endif %}
            {% if customer.default_address.zip != blank %}
            {{ customer.default_address.zip | upcase }}, 
            {% endif %}
            {{customer.default_address.country}}
          </p>
          <p>{{ customer.default_address.phone }}</p>
          {% endif %}
        </div>
          <a href="{{ routes.account_addresses_url }}" class="link--primary--small">Addresses</a>
       
        </div>
      </div>
    </div>
  </div>
  </div>
  {% schema %}
{
  "name": {
    "en": "Account"
  },
  "presets": [
    {
      "name": "Account"
    }
  ]
}
{% endschema %}