<div class="form-section not-logged-tempate  account-activate ">
  <div class="inner-login-hero">
    <div class="container-1260">
      <div class="content">
        <h1 class="text-center">{{ 'customer.activate_account.title' | t }}}</h1>
      </div>
    </div>
    <div class="image-section">
      <img src="{{ 'dummy-collection.webp' | asset_url }}">
    </div>
  </div>
  <div class="form-outer">
    <div class="box">
      {% form 'activate_customer_password' %}
        {%- if form.errors -%}
          <div class="form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        <label>{{ 'customer.activate_account.password' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password]"
          id="CustomerPassword"
          placeholder="{{ 'customer.activate_account.password' | t }}"
        >
          <label>{{ 'customer.activate_account.password_confirm' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password_confirmation]"
          id="CustomerPasswordConfirmation"
          placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
        >
        <div class="btn-wrapper">
          <p>{{ 'customer.activate_account.subtext' | t }}</p>
          <input
            type="submit"
            class="btn--primary"
            value="{{ 'customer.activate_account.submit' | t }}"
          >
          <div class="link--wrapper">
            <input
              type="submit"
              name="decline"
              value="{{ 'customer.activate_account.cancel' | t }}"
              class="link--primary-small"
            >
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Activate Account",
  "presets": [
    {
      "name": "Activate Account"
    }
  ]
}
{% endschema %}
