<div class="address-section form-section account-section">
  <div class="inner">
     <div class="container-1260">
       <div class="heading-section">
       <h1 class="h2 text-left" >{{ 'customer.addresses.title' | t }}</h1>
       <div class="account-section__links">
        <a href="/account" class="backtoaccount link--primary--small
          " title="return to Account Details">← Back to Account Details</a>
        <span>|</span>
        <a class="link--primary--small" href="/account/logout" title="logout">Logout</a>
      </div>
      
       </div>
      
        {% paginate customer.addresses by 5 %}
    
          {% comment %}
            Add address form, hidden by default
          {% endcomment %}
          {% comment %}
            List all customer addresses with a unique edit form.
            Also add pagination in case they have a large number of address (unlikely)
          {% endcomment %}
        <ul>
    
          {%comment%}
          Loop for the saved addresses
          {%endcomment%}
          {% for address in customer.addresses %}
          <li>
            <div class="account-section__address">
              <div class="account-address-info">
                <p class="customer-name">{{address.first_name }} {{ address.last_name }}</p>
            <p> 
          
              {{ address.address1 }}<br />
              {{ address.city }}
              {{ address.province_code }}
              {{ address.zip }}<br />
              {{ address.country }}<br />
              {{ address.phone }}</p>
              </div>
            <div class="account-section__action">
              {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
              {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.url }} 
            </div>
            </div>
            {% form 'customer_address', address %}
            <div id="EditAddress_{{address.id}}" {% unless form.errors %}style="display:none;"{% endunless %}>
              <!-- <hr> <h4>{{ 'customer.addresses.edit_address' | t }}</h4>-->
              {{ form.errors | default_errors }}
              <label>{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text"  id="AddressFirstName_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                  <label>{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text"   id="AddressLastName_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                  <label>{{ 'customer.addresses.company' | t }}</label>
                  <input type="text"  id="AddressCompany_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
                  <label>{{ 'customer.addresses.address1' | t }}</label>
                  <input type="text"  id="AddressAddress1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                  <label>{{ 'customer.addresses.address2' | t }}</label>
                  <input type="text"  id="AddressAddress2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                  <label>{{ 'customer.addresses.city' | t }}</label>
                  <input type="text"  id="AddressCity_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
              <div class="grid__item select" >
                <label>{{ 'customer.addresses.country' | t }}</label>
              <select  id="AddressCountry_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
            </div>
              <div class="grid__item select" id="AddressProvinceContainer_{{form.id}}" style="display:none" class="grid-item">
                <label>{{ 'customer.addresses.province' | t }}</label>
                  <select id="AddressProvince_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
              <label>{{ 'customer.addresses.zip' | t }}</label>
                  <input p type="text" id="AddressZip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                  <label>{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel"  id="AddressPhone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}">
              <div class="checkboxOuter">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{form.id}}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
              </div>
              <div class="btn-wrapper">
              <input type="submit" class="btn--primary" value="{{ 'customer.addresses.update' | t }}"></p><a href="#"  class="link--primary" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a></div>
            </div>
              {% endform %}
            </li>
          {% endfor %}
        </ul>
          {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}
        {%comment%}
        Section for add new address
        {%endcomment%}
          <div class="text-center">
          <a href="#" class="btn--primary new-address" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
          {% form 'customer_address', customer.new_address %}
          <div class="new-address-section" id="AddAddress" {% unless form.errors %}style="display: none;"{% endunless %}>
            <!-- <h2>{{ 'customer.addresses.add_new' | t }}</h2>-->
            {{ form.errors | default_errors }}
            <label>{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew"  class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                <label>{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text"  id="AddressLastNameNew" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                <label>{{ 'customer.addresses.company' | t }}</label>
                <input type="text"  id="AddressCompanyNew" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
                <label>{{ 'customer.addresses.address1' | t }}</label>
                <input type="text"  id="AddressAddress1New" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                <label>{{ 'customer.addresses.address2' | t }}</label>
                <input type="text"  id="AddressAddress2New" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                <label>{{ 'customer.addresses.city' | t }}</label>
                <input type="text"  id="AddressCityNew" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
                <label>{{ 'customer.addresses.country' | t }}</label> 
                <select id="AddressCountryNew" name="address[country]" data-default="{{form.country}}">{{ all_country_option_tags }}</select>
              <div class="grid__item select" id="AddressProvinceContainerNew" style="display:none">
                <label>{{ 'customer.addresses.province' | t }}</label>    
                <select id="AddressProvinceNew" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
              <label>{{ 'customer.addresses.zip' | t }}</label>
                <input type="text"  id="AddressZipNew" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                <label>{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel"  id="AddressPhoneNew" class="address_form" name="address[phone]" value="{{form.phone}}">
            <div class="checkboxOuter">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div class="btn-wrapper"><input type="submit" class="btn--primary" value="{{ 'customer.addresses.add' | t }}">
            <a href="#" class="link--primary" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></div>
        </div>
        {% endform %}  
        </div>
      </div>
       </div>
       </div>
    


  
  <script>
    // Initialize observers on address selectors
    new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
      hideElement: 'AddressProvinceContainerNew'
    });
    // Setup province selector on each customer address
    {% for address in customer.addresses %}
      new Shopify.CountryProvinceSelector('AddressCountry_{{address.id}}', 'AddressProvince_{{address.id}}', {
        hideElement: 'AddressProvinceContainer_{{address.id}}'}
      );
    {% endfor %}
    // Modified contents of customer_area.js (global asset)
    Shopify.CustomerAddress = {
      toggleForm: function(id) {
        var editEl = document.getElementById('EditAddress_'+id);
        editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
        return false;
      },
      toggleNewForm: function() {
        var el = document.getElementById('AddAddress');
        el.style.display = el.style.display == 'none' ? '' : 'none';
        return false;
      },
      destroy: function(url, confirm_msg) {
        if (confirm(confirm_msg || {{ 'customer.addresses.delete_confirm' | t | json }})) {
          Shopify.postLink(url, {'parameters': {'_method': 'delete'}});
        }
      }
    }
  </script>
  {% endpaginate %}
  
{% schema %}
{
  "name": {
    "en": "Addresses"
  },
  "presets": [
    {
      "name": "Addresses"
    }
  ]
}
{% endschema %}
