{% comment %} {% render 'article_img-script'  with articleRelated: article %} {% endcomment %}
<article data-article-id="{{article.id}}">
  {% comment %} {% include 'article_hero-banner'   with article: article %} {% endcomment %}

  <script>
      $(document).ready(function() {

    // To save all images in an array named img_array
        var img_array = $('.article-content-{{ articleRelated.id }} img').map(function() {
          return $(this).attr("src");
        });
        var img_arr = $('.article-excerpt-{{ articleRelated.id }} img').map(function() {
          return $(this).attr("src");
        });
        var firstexcerptImage = img_arr[0];

        var firstImage = img_array[0];

        var excerptImage = img_arr[0];{% if articleRelated.image %}
        {% else %}

        //$(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").addClass("no-image");
          if (img_array.length > 0) {
            $(".custom-article-image-{{ articleRelated.id }} img").attr("src", firstImage);
            $(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").removeClass("no-image");
          } else {
            if (img_arr.length > 0) {
              $(".custom-article-image-{{ articleRelated.id }} img").parent("a").parent(".image-section").removeClass("no-image");
              $(".custom-article-image-{{ articleRelated.id }} img").attr("src", firstexcerptImage);
            }

          }

        {% endif %}
      });
  </script>

  <div class="article-hero-banner-section inner-hero-section">
    <div class="image-section">
      {%- assign img_url = article.image | img_url: 'master' -%}
      <img
        id="{{ img_id }}"
        src="{{ img_url }}"
        class="lazyload"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ article.image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ article.title }}"
      >
    </div>
    <div class="container-1240">
      <div class="content">
        <h1>{{ article.title }}</h1>
      </div>
    </div>
  </div>
  <!-- Date - with - social Sharing -->

  <div class="article-template">
    <div class="container-1240 content">
      <div class="tags">
        {% for tag in article.tags %}
          <a href="{{blog.url}}/tagged/{{ tag | handleize }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
      <h2 class="article-main-title">{{ article.title }}</h2>
      <div class="artical-date-author">
        {% if section.settings.blog_show_date %}
          <div class="date-category-section">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
              <path d="M12.867 3.189h-10.5a1.5 1.5 0 0 0-1.5 1.5v10.5a1.5 1.5 0 0 0 1.5 1.5h10.5a1.5 1.5 0 0 0 1.5-1.5v-10.5a1.5 1.5 0 0 0-1.5-1.5zM10.615 1.689v3M4.617 1.689v3M.867 7.689h13.5" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{- article.published_at | time_tag: format: 'date' -}}
          </div>
        {% endif %}
        <div class="author">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
            <path d="M14.59 16.189v-1.667a3.333 3.333 0 0 0-3.334-3.333H4.589a3.333 3.333 0 0 0-3.333 3.333v1.667M7.921 7.855a3.333 3.333 0 1 0 0-6.666 3.333 3.333 0 0 0 0 6.666z" stroke="#000" stroke-width="1.765" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>{{ article.author }}</span>
        </div>
      </div>
      <div class="article-content  full-format article-content-{{ article.id }} js__article-content">
        {% include 'shortcode', load: article.content %}
      </div>
      <div class="article-social-share-with-date">
        <div class="inner-wrapper">
          {% if section.settings.show_share_buttons %}
            <div class="social-sharing-link flex-wrap">
              <div class="social-icons">
                {% if settings.share_facebook or settings.share_pinterest or settings.share_twitter or settings.print %}
                  <p class="share">Share</p>
                {% endif %}
                {% include 'social-sharing',
                  share_title: article.title,
                  share_permalink: article.url,
                  share_image: article.image
                %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% comment %} Related Posts {% endcomment %}

  <div class="related-posts">
    <div class="container-1260">
      <div class="heading flex">
        <div class="left-side">
          {% if section.settings.pretitle != blank %}
            <span class="pre-title">{{ section.settings.pretitle }}</span>
          {% endif %}
          {% if section.settings.recommendedHeading != blank %}
            <h2>{{ section.settings.recommendedHeading }}</h2>
          {% endif %}
        </div>
        {% if section.settings.link != blank %}
          <a href="{{ section.settings.linkUrl }}" class="link--primary none-980">{{ section.settings.link }}</a>
        {% endif %}
      </div>

      <div class="inner-wrapper js__realated-articles">
        <div class="slider-outer">
          <div class="slider js__article-slider">
            <div class="swiper-wrapper">
              {% assign skip_articles = article.handle | split: '.....' %}
              {% for tag in article.tags %}
                {% assign counter = 0 %}
                {% assign skip_articles = article.handle | split: '.....' %}
                {% for related_article in blog.articles %}
                  {% if related_article.tags contains tag and counter < 5 %}
                    {% unless skip_articles contains related_article.handle %}
                      {% assign counter = counter | plus: 1 %}
                      {% assign temp = related_article.handle | split: '.....' %}
                      {% assign skip_articles = skip_articles | concat: temp %}
                      <div class="articlecard--outer swiper-slide slide" data-article-id="{{related_article.id}}">
                        {%
                          include 'article_Card' with articleRelated: related_article, show_tags: true, show_description: true, show_readMore:
                          true,show_tags_with_limits:true
                        %}
                      </div>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-prev-article-section">
            {% include 'icon-arrow-slide-black' %}
          </div>
          <div class="swiper-button-next-article-section">
            {% include 'icon-arrow-slide-black' %}
          </div>
        </div>
      </div>
      {% if section.settings.link != blank %}
        <a href="{{ section.settings.linkUrl }}" class="link--primary block-980">{{ section.settings.link }}</a>
      {% endif %}
    </div>
  </div>

  {% comment %}
    <script>
      /** Hide blogs if they are gettings repeated **/
      var relatedList = $('.js__realated-articles').children('.slide'),
        relatedListArray = [];
      /* If no posts - then hide the section */
      if (relatedList.length === 0) {
        $('.related-posts').hide();
      }
      /* get the current postID */
      var currentArticleID = $('article').attr('data-article-id');
      /* go through the loop of the postArray List */
      $(relatedList).each(function () {
        var articleID = $(this).attr('data-article-id');
        /* if the current article ID matches anyone in the loop - then remove it */
        if (currentArticleID == articleID) {
          $(this).remove();
        } else {
          relatedListArray.indexOf(articleID) == -1 ? relatedListArray.push(articleID) : $(this).remove();
        }
      });
      /* if you had just one in array and too matched - then hide the section */
      if (relatedListArray.length === 0) {
        $('.related-posts').hide();
      }
    </script>
  {% endcomment %}
</article>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if page_image %}
        {% assign image_size = page_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ page_image.height | json }},
          "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ page_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>
{% schema %}
{
  "name": "Article Main Template",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content": "Related Articles"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "PreTitle"
    },
    {
      "type": "text",
      "id": "recommendedHeading",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "link",
      "label": "link Text"
    },
    {
      "type": "url",
      "id": "linkUrl",
      "label": "Text Link"
    }
  ]
}
{% endschema %}
