<div class="container-1340">
  <div>
    <h1>H1 Mrs Eaves 40px Dark</h1>
    <h2>H2 Mrs Eaves 30px Dark</h2>
    <h3>H3 Mrs Eaves 20px Dark</h3>
    <h4>H4 Mrs Eaves 18px Dark</h4>
    <h5>H5 Mrs Eaves 15px Dark</h5>
    <h6>H6 Mrs Eaves 12px Dark</h6>
    <p>
      Integer iaculis tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper ultrices.
      Vivamus ut feugiat nulla.
      <strong>Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor</strong>
      <b>Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor</b>
    </p>

    <a href="#" class="btn--primary">shop now</a>
    <a href="#" class="btn--secondary">shop now</a>
    <a href="#" class="btn--primary">shop now</a>
    <br>
    <a href="#" class="link--primary">Read More</a>
  </div>

  <div class="full-format">
    <br>
    <br>
    <h2 class="x-small-border">x-small with border heading 2</h2>
    <h2 class="small">small heading 2</h2>
    <h3 class="small">small heading 3</h3>
    <h4 class="small">small heading 4</h4>
    <h5 class="small">small heading 5</h5>
    <h6 class="small">small heading 6</h6>
    <br>
    <br>
    <h2 class="x-small">x-small heading 2</h2>
    <h3 class="x-small">x-small heading 3</h3>
    <h4 class="x-small">x-small heading 4</h4>
    <h5 class="x-small">x-small heading 5</h5>
    <h6 class="x-small">x-small heading 6</h6>
    <p>
      Integer iaculis tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper ultrices.
      Vivamus ut feugiat nulla.
      <strong
        >Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit tempor. Sed a enim ex. Nunc placerat
        sem velit, id ullamcorper eros vehicula sed. Sed venenatis nulla eu dapibus imperdiet.</strong
      >
    </p>
    <p>
      <a href="">Integer iaculis</a> tellus est, id viverra nisi interdum sit amet. Morbi commodo ante nec ullamcorper
      ultrices. Vivamus ut feugiat nulla. Proin sodales sollicitudin libero. Morbi ultricies sapien ac massa blandit
      tempor. Sed a enim ex. Nunc placerat sem velit, id ullamcorper eros vehicula sed. Sed venenatis nulla eu dapibus
      imperdiet.
    </p>
    <hr>
    <h2>Heading 2 <a href="">link</a></h2>
    <h3>heading 3 <a href="">link</a></h3>
    <h4>heading 4 <a href="">link</a></h4>
    <h5>heading 5 <a href="">link</a></h5>
    <h6>heading 6 <a href="">link</a></h6>
    <blockquote>This is an example Pull Quote. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</blockquote>
    <ul>
      <li>Cras quis sapien sodales, varius dolor eu, laoreet est <a href="">link</a>.</li>
      <li>
        Aliquam accumsan nisi tellus, et euismod magna euismod non. Etiam ullamcorper lorem sed lacus porttitor, ut
        mollis lectus faucibus.
      </li>
      <li>Praesent quam mi, aliquam id tortor vel, fermentum ornare est.</li>
      <li>Cras in luctus lectus, ut tempus enim.</li>
      <li>
        Quisque tristique tellus in felis tempor rutrum. Sed ultricies, tellus sed ultricies lacinia, dolor ante
        convallis diam, vehicula pretium neque sem eleifend lacus. Fusce faucibus hendrerit interdum. Vestibulum at
        dolor iaculis urna tempor congue a sed felis.
      </li>
    </ul>
    <ol>
      <li>Cras quis sapien sodales, varius dolor eu, laoreet est. <a href="">link</a></li>
      <li>
        Aliquam accumsan nisi tellus, et euismod magna euismod non. Etiam ullamcorper lorem sed lacus porttitor, ut
        mollis lectus faucibus.
      </li>
      <li>Praesent quam mi, aliquam id tortor vel, fermentum ornare est.</li>
      <li>Cras in luctus lectus, ut tempus enim.</li>
      <li>
        Quisque tristique tellus in felis tempor rutrum. Sed ultricies, tellus sed ultricies lacinia, dolor ante
        convallis diam, vehicula pretium neque sem eleifend lacus. Fusce faucibus hendrerit interdum. Vestibulum at
        dolor iaculis urna tempor congue a sed felis.
      </li>
    </ol>
  </div>
  {% comment %} Product card {% endcomment %}
  <div class="product-card">
    <a class="product-wrapper" href="{{productRelated.url}}">
      <div class="image-section">
        <img
          class="js__product-image-{{productRelated.id}} first-img"
          data-src="{{ "lp-dummy-product-images.webp" |asset_url}}"
          src="{{ "lp-dummy-product-images.webp" |asset_url}}"
          alt="{{ productRelated.featured_image.alt | escape }}"
          loading="lazy"
        >
        <img
          class="hover-img"
          data-src="{{ "lp-dummy-product-image-2.webp" |asset_url}}"
          src="{{ "lp-dummy-product-image-2.webp" |asset_url}}"
          alt="{{ productRelated.featured_image.alt | escape  }}"
          loading="lazy"
        >

        <!-- Custom Tags -->

        <div class="product-card__tags-status">
          <span class="tag sale">Sale</span>
          <div class="tag custom" style="background: #080707!important; color: #fff;">custom tag</div>
        </div>
      </div>

      <div class="content">
        <h4 class="product-card__product-title">Product Title</h4>
        <h5 class="sub-title">Ingrown Patches</h5>

        <!-- Price -->

        <span class="product-card__price flex">
          <span> $00.00</span>

          <s> $00.00 </s>
        </span>
      </div>
    </a>
  </div>
  <br>
  <br>
  {% comment %} Blog card {% endcomment %}
  <div class="article-card">
    <a href="" title="" class="article-link">
      <div class="image-section custom-article-image-{{ articleRelated.id }}">
        <img
          id="{{ img_id }}"
          class="lazyload"
          src="{{ "dummy-article-image.webp" |asset_url}}"
          alt="{{ articleRelated.title }}"
        >
      </div>

      <div class="content">
        <h3>Blog Post Duis eu diam quis elit interdum cursus ut eget ante</h3>

        <time>01/01/2023</time>

        <div class="link--primary" title="Read More">read more</div>
      </div>
    </a>
  </div>

  {% comment %} Left side bar page menu {% endcomment %}
  <div class="left-sidebar">
    <div class="container-260">
      <div class="title">
        <span>{{ section.settings.title }}</span>
      </div>
      {% assign pageMenu = linklists[section.settings.page_menu] %}
      {% if pageMenu.links != blank %}
        <ul class="pageLinks">
          {% for link in pageMenu.links %}
            <li>
              <a
                href="{{ link.url}}"
                title="{{ link.title | escape }}"
                {%- if link.active %}
                  aria-current="page"
                {% endif -%}
                class="page-link {%- if link.active %} current-page{% endif -%}"
              >
                {{- link.title | escape -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if section.settings.show_info == true %}
        <div class="more-info full-format">
          {{ section.settings.more_info }}
        </div>
      {% endif %}
      {% if section.settings.show_socialIcons == true %}
        <div class="social-icons-section">
          <span>Connect</span>
          {% include 'social-icons' %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="form-section"></div>
</div>

{% schema %}
{
  "name": "Base Elements",
  "presets": [
    {
      "name": "Base Elements"
    }
  ]
}
{% endschema %}
