<div class="js__show-cart-items-section">
  {% if section.settings.title != blank %}
    <div class="inner-hero-section">
      {% if section.settings.bannerImage != blank %}
        <div class="image-section {% if section.settings.gradient == true %} gradient{%endif%}">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="{% if bannerImageM != blank %}{{ bannerImageM | img_url: '750x1400' }}   {% endif %}"
            >
            {{
              section.settings.bannerImage
              | image_url: width: 2880
              | image_tag: loading: 'lazy', widths: '2880x1620'
            }}
          </picture>
        </div>
      {% endif %}
      {% comment %}
        {% if section.settings.bannerImage != blank %}
          <div class="image-section {% if section.settings.gradient == true %} gradient{%endif%}">
            <img src="{{ 'cart-hero.webp' | asset_url }}">
          </div>
        {% endif %}
      {% endcomment %}

      <div
        class="        container-1240"
      >
        <div class="content">
          <h1>{{ section.settings.title }}</h1>
          {% if section.settings.description != blank %}
            {{ section.settings.description }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  <div id="cart" class="cart-section   ">
    <div class="container-1260 container-section">
      <a href="javascript:history.back()" class="back-button ipad-none" >Back</a>
      <form action="/cart" method="post">
        <div class="free-shipping js__progressbar_visiblity hide" style="display:none !important">
          <!-- Free Shipping Values from Schema -->
          <span class="hide js__free-shipping-limit">{{ settings.freeShippingThresholdValue }} </span>
          <!-- Free Shipping Message (When the value is reached) -->
          <p>
            <span class="js__free-shipping-message" style="display: none;">{{ settings.freeShippingMsg }}</span
            ><span
              class="js__free-shipping-limit-message"
              style="display: none;"
            >
              You are
              <strong
                class="js__free-shipping-remaning-amount"
                >$25.00</strong
              >
              away from free shipping.</span
            >
          </p>
          <div class="free-shipping__progress-bar js__free-shipping__progress-bar"><span></span></div>
        </div>

        <div class="inner flex">
          <div class="wrapper">
            <div class="header flex">
              <div class="table-head">
                <span>Product</span>
              </div>
              <div class="table-head">
                <span>Price</span>
              </div>
              <div class="table-head text-center">
                <span>QUANTITY</span>
              </div>

              <div class="table-head">
                <span> Total</span>
              </div>
            </div>
            <div class="cart-list"></div>
            <!-- Frequently Bought Together Product List -->
            {% render 'gift-product-cart' %}
          </div>
          <!-- START TOTAL -->
          <div class="wrapper-total">
            <div class="shipping-details js__progressbar_visiblity hide">
              <span class="hide js__free-shipping-limit">{{ settings.freeShippingThresholdValue }} </span>
              <span class=" title js__free-shipping-message" style="display: none;">
                {{- settings.freeShippingMsg -}}
              </span>
              <span class="title js__free-shipping-limit-message"
                >You are
                <b
                  ><span
                    class="js__free-shipping-remaning-amount"
                    >$40</span
                  >
                  away</b
                >
                from free shipping</span
              >
              <ul class="flex ">
                <span class="dark-bar js__grandtotal-shipping" data-percentage="0"></span>
                <li>
                  <div class="icon car js__free-shipping__icon">
                    <img src="{{ 'icon-truck.svg' | asset_url }}" alt="Delivery truck icon">
                  </div>
                  <span>Free Shipping</span>
                  <div class="free-shipping__progress-bar js__free-shipping__progress-bar"><span></span></div>
                </li>
                {% if settings.freeProduct1 != blank %}
                  <li>
                    <div class="icon js__free-gift-1__icon">
                      <img src="{{ 'icon-gift.webp' | asset_url }}">
                    </div>
                    <span>Free Gift</span>
                    <div class="free-shipping__progress-bar js__free__gift-1__progress-bar"><span></span></div>
                  </li>
                {% endif %}
                {% if settings.freeProduct2 != blank %}
                  <li>
                    <div class="icon js__free-gift-2__icon">
                      <img src="{{ 'icon-gift.webp' | asset_url }}">
                    </div>
                    <span>Free Gift</span>
                    <div class="free-shipping__progress-bar js__free__gift-2__progress-bar"><span></span></div>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="total">
              {% if section.settings.coupon_code_enable %}
                {% render 'plus_cart_discount_code' %}
              {% endif %}
           

              <textarea
                id="note"
                name="note"
                class="form-control hide"
                placeholder="Add a note to your order..."
              >{{ cart.note }}</textarea>
              <div class="cart-total">
                <div class="flex js__cartSubtotalDiscountWraperee hide">
                  <b>Subtotal</b>
                  <span class="js__cart-sub-total"></span>
                </div>
                <div class="flex js__cartSubtotalDiscountWraper hide">
                  <b>You Saved</b><span class="js__cart-total-saved">-</span>
                </div>
                <div class="flex hide">
                  <b>Shipping</b>
                  <span>Free!</span>
                </div>
              </div>

              <div class="cart-info hide">
                <b>Special Notes About Your Order</b>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam.
                </p>
              </div>
              <div class="order-total flex ">
                <b>order total</b>
                <span class="js__cart-total"
                  ><span>
                    {{ cart.total_price | mone }}
                  </span></span
                >
              </div>
              <div class="tax">
                <span>Taxes and shipping calculated at checkout</span>
              </div>
              <div class="btn-wrapper">
                <button class="btn--primary btn--cart-checkout yellow" type="submit" id="checkout" name="checkout">Checkout Now</button>
                <a class="link--primary" href="/collections/all" title="Continue Shopping">Continue Shopping</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Empty Cart -->
<div style="display: none;" class="empty-cart-section">
  <style>
    #cart_overlay.active {
      display: none;
    }
  </style>

  <div class="cart-section">
    <div class="container-1260">
      <h2 class="h2 text-center">Your cart is empty</h2>
      <a href="/collections/all" title="Continue Shopping" class="btn--primary yellow">Continue Shopping</a>
    </div>
  </div>
</div>

<style>
  .scroll-to-top {
    display: none !important;
  }

  .forMiniCart {
    display: none !important;
  }
</style>
{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Banner Title"
    },
    {
      "type": "image_picker",
      "id": "bannerImage",
      "label": "Banner Background Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "bannerImageM",
      "label": "Banner Background Image (Mobile)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Banner Description"
    },
    {
      "type": "header",
      "content": "Coupon Code"
    },
    {
      "type": "checkbox",
      "id": "coupon_code_enable",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "coupon_title",
      "label": "Title",
      "default": "Coupon Code:"
    },
    {
      "type": "text",
      "id": "coupon_content",
      "label": "Content",
      "default": "Coupon code will be applied on the checkout page"
    },
  ],
  "presets": [
    {
      "name": "Cart Information"
    }
  ]
}
{% endschema %}
