{% if section.settings.title1 != blank %}
  <div class="product-section-slider ">
    <div class="container-1400">
      <div class="top-section flex">
        {% if section.settings.title1 != blank %}
          <h2 class="h1">
            {{ section.settings.title1 }}
            {% if section.settings.title2 != blank %}
              <span class="color-grey h1">{{ section.settings.title2 }}</span>
            {% endif %}
          </h2>
        {% endif %}
        {% if section.settings.buttonText != blank and section.settings.buttonLink != blank %}
          <a
            href="{{ section.settings.buttonLink }}"
            title="Read More About {{ section.settings.buttonText }}"
            aria-label="Read More About {{ section.settings.buttonText }}"
            class="btn--primary"
          >
            {{- section.settings.buttonText -}}
          </a>
          <a
            href="{{ section.settings.buttonLink }}"
            title="Read More About {{ section.settings.buttonText }}"
            aria-label="Read More About {{ section.settings.buttonText }}"
            class="link--primary"
          >
            {{- section.settings.buttonText -}}
          </a>
        {% endif %}
      </div>

      <div
        class="slider-outer"
      >
        <div class="slider js__product-section-slider">
          <div class="swiper-wrapper">
            {% assign collectionsname = section.settings.collection %}

            {% for productRelated in collectionsname.products %}
              <div class="swiper-slide slide product-card">
                {% if section.settings.collection != blank %}
                  {% comment %} {% assign productRelated = all_products[block.settings.product] %} {% endcomment %}
                  {% include 'product_Card'  with  productRelated: productRelated , show_price: true, show_tags: true, show_auto_tags: true, show_title: true, show_fav: false, show_secondary_button: false %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-prev-product-section">
          {% include 'icon-arrow-slide-white' %}
        </div>
        <div class="swiper-button-next swiper-button-next-product-section">
          {% include 'icon-arrow-slide' %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Black)"
    },
    {
      "type": "text",
      "id": "btnText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btnLink",
      "label": "Button Link"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Slider With Tabs"
    }
  ]
}
{% endschema %}
