<div class="contact-us">
  <div class="container-1340 flex">
    {% render 'left-sidebar' %}
    <div class="right-sidebar">
      <div class="inner-section flex">
        <div class="left-section">
          <ul class="ipad-none">
            {% if settings.chattitle != blank %}
              <li class="chat">
                <h2 class="h3">{{ settings.chattitle }}</h2>

                {% if settings.chatdescription != blank %}
                  <div class="full-format small">
                    {{ settings.chatdescription }}
                  </div>
                {% endif %}
                {% if settings.chatText != blank or settings.chatLink != blank %}
                  <a href="{{settings.chatLink}}" class="btn--primary" title="{{settings.chatText}}">
                    {{- settings.chatText -}}
                  </a>
                {% endif %}
              </li>
            {% endif %}
            {% if settings.phonetitle != blank %}
              <li class="phone">
                <h2 class="h3">{{ settings.phonetitle }}</h2>
                {% if settings.contactdescription != blank %}
                  <div class="full-format small">
                    {{ settings.contactdescription }}
                  </div>
                {% endif %}
              </li>
            {% endif %}
            {% if settings.emailtitle != blank %}
              <li class="email">
                <h2 class="h3">{{ settings.emailtitle }}</h2>

                {% if settings.emailAddressdesc != blank %}
                  <div class="full-format small">
                    {{ settings.emailAddressdesc }}
                  </div>
                {% endif %}
              </li>
            {% endif %}
          </ul>
          <div class="contact-section ipad-block">
            <ul>
              {% if settings.chattitle != blank %}
                <li>
                  {% render 'icon-contact' %}
                  <span>{{ settings.chattitle }}</span>
                  <a href="tel:{{settings.chatnumber}}" title="{{ settings.chatnumber }}">{{ settings.chatnumber }}</a>
                </li>
              {% endif %}
              {% if settings.texttitle != blank %}
                <li>
                  {% render 'icon-message' %}
                  <span>{{ settings.texttitle }}</span>
                  <a href="tel:{{ settings.textnumber }}" title="{{ settings.textnumber }}">
                    {{- settings.textnumber -}}
                  </a>
                </li>
              {% endif %}
              {% if settings.phonemobtitle != blank %}
                <li>
                  {% render 'icon-phone' %}
                  <span>{{ settings.phonemobtitle }}</span>
                  <a href="tel:{{ settings.number }}" title="{{ settings.number }}">{{ settings.number }}</a>
                </li>
              {% endif %}
              {% if settings.emailtitle != blank %}
                <li>
                  {% render 'icon-message' %}
                  <span>{{ settings.emailtitle }}</span>
                  <a href="mailto:{{settings.emailAddress}}" title="mail-{{settings.emailAddress}}">
                    {{ settings.emailAddress -}}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="right-section">
          <ul>
            {% if settings.officeadd != blank or settings.addtitle != blank %}
              <li class="address">
                <h2 class="h3">{{ settings.addtitle }}</h2>
                <div class="description full-format">
                  {{ settings.officeadd }}
                </div>
              </li>
            {% endif %}
            {% if settings.hrtitle != blank %}
              <li class="hour">
                <h2 class="h3">{{ settings.hrtitle }}</h2>

                <div class="time">
                  <p>
                    <span>{{ settings.weekdays }}</span>{{ settings.weekdayshr }}
                  </p>
                  <p>
                    <span>{{ settings.weekend }}</span>{{ settings.weekendshr }}
                  </p>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if section.settings.storeTitle != blank %}
        <div class="middle-section hide">
          <h2 class="h3">{{ section.settings.storeTitle }}</h2>
          <div class="box flex">
            <h3>APP PLACEHOLDER</h3>
          </div>
        </div>
      {% endif %}
      {% comment %} Form section {% endcomment %}
      <div class="form-outer">
        <h2 class="h3">Need A Faster Response?</h2>
        <div class="form-section">
          <div class="heading-section">
            <p class="top-heading">General inquires</p>
            <span>Required Field*</span>
          </div>
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %}
            <div class="firstName-lastName flex">
              <div class="floating-label-main">
                <input
                  placeholder=" "
                  type="text"
                  class="first-name"
                  id="{{ formId }}-FirstName"
                  {% if form.first_name %}
                    value="{{ form.first_name }}"
                  {% endif %}
                  name="contact[{{ 'contact.form.name' | t }}]"
                >
                <label class="floating-label">First Name*</label>
              </div>
              <div class="floating-label-main">
                <input
                  placeholder=" "
                  type="text"
                  class="last-name"
                  id="{{ formId }}-LastName"
                  {% if form.last_name %}
                    value="{{ form.last_name }}"
                  {% endif %}
                  name="contact[{{ 'contact.form.name' | t }}]"
                >
                <label class="floating-label">Last Name*</label>
              </div>
            </div>
            <div class="phone-email flex">
              <div class="email floating-label-main">
                <input
                  placeholder=" "
                  type="email"
                  id="{{ formId }}-email"
                  name="contact[email]"
                  autocorrect="off"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                    class="input--error" aria-invalid="true" aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                >
                <label class="floating-label">Email Address*</label>
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    <span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </span>
                {%- endif -%}
              </div>
              <div class="floating-label-main">
                <input
                  placeholder=" "
                  type="tel"
                  class="phone-number"
                  id="{{ formId }}-phone"
                  value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  name="contact[Phone]"
                >
                <label class="floating-label">Phone Number*</label>
              </div>
            </div>
            {% comment %} <label>Message</label> {% endcomment %}
            <div class="floating-label-main textarea">
              <textarea
                rows="10"
                id="{{ formId }}-message"
                placeholder=" "
                name="contact[{{ 'contact.form.message' | t }}]"
              >{% if form.body %}{{ form.body }}{% endif %}</textarea>
              <label class="floating-label">Message</label>
            </div>
            <button type="submit" value="submit" class="btn--primary">Submit Now</button>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cantact Us",
  "settings": [
    {
      "type": "header",
      "content": "SideBar Info"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Overwrite Title",
      "info": "By default it will take Page Title"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Overwrite Title (Secondary)",
      "info": "By default it will take Page Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "link_list",
      "id": "page_Menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Store Info"
    },
    {
      "type": "text",
      "id": "storeTitle",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Cantact Us"
    }
  ]
}
{% endschema %}
