<div class="contact-section">
  <div class="container-1260 text-center">
  
    <div class="contact-info-section">
      <h2 class="h4">Contact Information</h2>
      <p>Contact us or simply fill in the form and we will get back to you as soon as possible.</p>
      <ul>
        <li>
          
           <div class="icon">{% include 'icon-phone-contact' %}</div>
          <a href="tel:+1234567890}">+(123) 456-7890</a>
        </li>
        <li>
          <div class="icon">{% include 'icon-email-contact' %}</div>
          <a href="mailto:demo@gmail.com">
            demo@gmail.com</a>
        </li>
        <li>
          <div class="icon">{% include 'icon-address-contact' %}</div>
        <p>Lorem Ipsum is simply dummy text</p>
        </li>
      </ul>
    </div>
    <div class="form-section text-left">
      <h2 class="medium ">Get in touch</h2>
      {%- assign formId = 'ContactForm' -%}
      {% form 'contact'
        , id: formId %}
        {% include 'form-status'
          , form: form
          , form_id: formId %}
          <div class="half-and-half">
            <div class="half">
          <label>How can we help you? *</label>
          <input
            type="text"
            id="{{ formId }}-subject"
            placeholder="Subject*"
            name="contact[Enquiry_Subject]">
            </div>
            <div class="half">
          <label>Full Name *</label>
        <input
          placeholder="Name*"
          type="text"
          id="{{ formId }}-name"
          name="contact[{{ 'contact.form.name' | t }}]"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
        </div>
        <div class="half-and-half">
          <div class="half">
          <label>Email Address *</label>
        <input
          placeholder="Email Address*"
          class="email-field"
          type="email"
          id="{{ formId }}-email"
          name="contact[email]"
          autocorrect="off"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {%- if form.errors contains 'email' -%}
          class="input--error"
          aria-invalid="true"
          aria-describedby="{{ formId }}-email-error"
          {%- endif -%}>
        {%- if form.errors contains 'email' -%}
          <span id="{{ formId}}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }}</span>
            <span>
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}.</span>
          </span>
        {%- endif -%}
        </div>
        
          <div class="half">
        <label>Mobile Number *</label>
        <input
          type="tel"
          id="{{ formId }}-phone"
          placeholder="Phone Number"
          name="contact[Phone]"
          pattern="[0-9\-]*"
          value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
         </div>
         </div>
          <label>Message</label>
        <textarea
          placeholder="Message"
          rows="10"
          id="{{ formId }}-message"
          name="contact[{{ 'contact.form.message' | t }}]">
          {% if form.body %}
            {{ form.body }}{% endif %}
        </textarea>
        <button
          type="submit"
          class="btn--primary"
        >Submit</button>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      }
    ],

    "presets": [
      {
        "name": "Contact Section"
      }
    ]
  }
{% endschema %}