<div class="main-page-wave"></div>
<div class="faq-section-with-category">
  <div class="container-944">
    <div class="js__scroll-btn faq-scroll-btns">
      <ul class="text-center faq-category-sidepanel flex">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'list' -%}
              {% assign category = block.settings.heading | replace: ' ', '-' %}
              {% assign category = category | replace: "'", '-' %}
              {% assign category = category | replace: '--', '-' %}
              {% assign category = category | replace: '---', '-' %}
              <li>
                <a class="faq-btn" title="{{block.settings.heading}}" href="#{{ category }}">
                  {{- block.settings.heading -}}
                </a>
              </li>
          {%- endcase -%}
        {%- endfor -%}
      </ul>

      <div class="drop-down-outer faq-dropdown">
        <select class="js__faq-dropdown">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'list' -%}
                {% assign category = block.settings.heading | replace: ' ', '-' %}
                {% assign category = category | replace: "'", '-' %}
                {% assign category = category | replace: '--', '-' %}
                {% assign category = category | replace: '---', '-' %}

                <option value="#{{category}}">{{ block.settings.heading }}</option>
            {%- endcase -%}
          {%- endfor -%}
        </select>
      </div>
    </div>
    <ul class="accordian js__accordian">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'list' -%}
            <li class="heading">
              <h3
                class="h4"
                id="{{ block.settings.heading }}"
              >
                {{ block.settings.heading }}
              </h3>
            </li>

          {%- when 'question' -%}
            <li>
              {% if block.settings.title != blank %}
                {% include 'icon-minus' %}
                {% include 'icon-plus' %}
                <h4
                  class="h5"
                >
                  {{ block.settings.title }}
                </h4>
              {%- endif -%}

              <div class="content full-format">
                {{ block.settings.faqAnswer }}
              </div>
            </li>
        {%- endcase -%}
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "FAQ's Accordion Category",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "linkText",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "textLink",
      "label": "Text Link"
    }
  ],

  "blocks": [
    {
      "type": "list",
      "name": "Section separator",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "faqAnswer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ's Accordion with Category"
    }
  ]
}
{% endschema %}
