<footer>
  <div class="main-footer">
    <div class="container-1306">
      <div class="top-section">
        <ul class="left-insta insta-list">
          {%- for block in section.blocks limit: 6 %}
            {% if block.settings.instaImage != blank %}
              <li>
                <a
                  href="{{ block.settings.InstaLink }}"
                  target="_blank"
                  class="image-section"
                  title="{{ block.settings.InstaLink }}"
                >
                  {% assign imageAlt = block.settings.instaImage.alt %}
                    {% if imageAlt == blank %}
                      {% assign imageAlt = shop.name %}
                    {% endif %}
                  {{
                    block.settings.instaImage
                    | image_url: width: 270
                    | image_tag: loading: 'lazy', widths: '270x270',
                    alt:imageAlt
                  }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="middle-section">
          {% if section.settings.sstext != blank %}
            <span>{{ section.settings.sstext }}</span>
          {% endif %}
          {% if section.settings.logo != blank %}
            <div class="footer-logo">
              {{ section.settings.logo | image_url: width: 200 | image_tag: loading: 'lazy', widths: '200x200' }}
            </div>
          {% endif %}
          <div class="social-icons">
            {% include 'social-icons' %}
          </div>
        </div>

        <ul class="rigt-insta insta-list">
          {% for block in section.blocks offset: 6 %}
            {% if block.settings.instaImage != blank %}
              <li>
                <a
                  href="{{ block.settings.InstaLink }}"
                  target="_blank"
                  class="image-section"
                  title="{{ block.settings.InstaLink }}"
                >
                   {% assign imageAlt = block.settings.instaImage.alt %}
                    {% if imageAlt == blank %}
                      {% assign imageAlt = shop.name %}
                    {% endif %}
                  {{
                    block.settings.instaImage
                    | image_url: width: 270
                    | image_tag: loading: 'lazy', widths: '270x270',
                    alt:imageAlt
                  }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="main-footer__middle flex">
        <!-- Footer Menu -->
        <div class="main-footer__nav flex">
          {% assign fotterMenu = linklists[section.settings.footerMenu] %}
          {% for link in fotterMenu.links %}
            {% assign linkTitle = link.title | downcase | remove: ' ' %}
            <div class="footer-links">
              <p class="title">
                <a href="javascript:;" title="{{ link.title | escape }}"> {{ link.title | escape }}</a>
              </p>
              <ul class="accordion-content">
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
        <div class="right-section">
          <div class="main-footer__newsletter">
            <div class="news-content">
              {% if section.settings.newsTitle != blank %}
                <span class="newsletter-title uppercase">{{ section.settings.newsTitle }}</span>
              {% endif %}

              {% if section.settings.description != blank %}
                <div class="description ">
                  {{ section.settings.description }}
                </div>
              {% endif %}
            </div>
            <div class="newsletter-form">
              <div class="klaviyo-form-TBi3KA"></div>
              {% comment %} {% render 'newsletter-form' %} {% endcomment %}
              {% comment %}
                <form action="">
                  <input type="email" name="Email" id="email" placeholder="Enter Email Address">
                  <button type="submit" class="btn-submit" value="Subscribe">Subscribe</button>
                </form>
              {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer__bottom">
        {% assign legalMenu = linklists[section.settings.legalMenu] %}
        {% if legalMenu != blank %}
          <div class="legal-menu">
            {% for link in legalMenu.links %}
              <span>
                <a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title | escape }}</a></span
              >
            {% endfor %}
          </div>
        {% endif %}
        <!-- Copyright -->
        <div class="copyright">
          <div class="copyright-section flex-wrap">
            <p>© {{ 'now' | date: '%Y' }} All Rights Reserved by Diggs Publishing</p>
            {% if section.settings.creditText != blank and section.settings.credit != blank %}
              <a href="{{ section.settings.credit }}" title="{{section.settings.creditText }}" target="_blank"
                >Designed by PixeloLabs</a
              >
            {% endif %}
          </div>
        </div>
        {% if section.settings.cartoonimage != blank %}
        <div class="footer-cartoon">
          {% comment %} <img src="{{ "footer_cartoon.webp" |asset_url}}" alt="cartoon-figures"> {% endcomment %}
          <picture>
            <!-- Mobile and tablet sizes -->
            <source
              media="(max-width: 767px)"
              srcset="
                {{ section.settings.cartoonimage | asset_url: width: 375 }} 375w,
                {{ section.settings.cartoonimage | asset_url: width: 550 }} 550w,
                {{ section.settings.cartoonimage | image_url: width: 750 }} 750w
              "
              sizes="100vw"
            >

            <!-- Desktop sizes -->
            <source
              media="(min-width: 768px)"
              srcset="
                {{section.settings.cartoonimage | image_url: width: 1000 }} 1000w,
                {{ section.settings.cartoonimage | image_url: width: 1400 }} 1400w,
                 {{ section.settings.cartoonimage | image_url: width: 1800 }} 1800w,
                 {{ section.settings.cartoonimage | image_url: width: 2400 }} 2400w,
                 {{ section.settings.cartoonimage | image_url: width: 3000 }} 3000w
              "
              sizes="100vw"
            >

            <!-- Fallback image -->
            <!-- Fallback image -->
            {{
              section.settings.cartoonimage
              | image_url: width: 1800
              | image_tag:
                loading: 'lazy',
                width: section.settings.cartoonimage.width,
                height: section.settings.cartoonimage.height
            }}
          </picture>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Footer Info"
    },
    {
      "type": "text",
      "id": "sstext",
      "label": "Social Link Heading"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "newsTitle",
      "label": "Newsletter Title",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "link_list",
      "id": "footerMenu",
      "label": "Footer Menu"
    },
    {
      "type": "link_list",
      "id": "legalMenu",
      "label": "Legal Menu"
    },
    {
      "type": "text",
      "id": "creditText",
      "label": "Credit Text"
    },
    {
      "type": "url",
      "id": "credit",
      "label": "Credit Link"
    },
    {
      "type": "image_picker",
      "id": "cartoonimage",
      "label": "Footer Graphic"
    }
  ],

  "blocks": [
    {
      "type": "insta",
      "name": "Instagram Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "instaImage",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "InstaLink",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
