<footer>
  <div class="main-footer">
    <div class="container-1306">
      <div class="top-section">
        <ul class="left-insta">
          {%- for block in section.blocks limit: 6 %}
            <li>
              <a href="{{ block.settings.InstaLink }}" target="_blank" class="image-section">
                {{
                  block.settings.instaImage
                  | image_url: width: 1262
                  | image_tag: loading: 'lazy', widths: '1262x1000'
                }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="middle-section">
          <span>Hello</span>
        </div>
        <ul class="rigt-insta">
          {% for item in array limit: 6 offset: continue %}
            <li>
              <a href="{{ block.settings.InstaLink }}" target="_blank" class="image-section">
                {{
                  block.settings.instaImage
                  | image_url: width: 1262
                  | image_tag: loading: 'lazy', widths: '1262x1000'
                }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="main-footer__middle flex">
        <div class="left-section">
          <div class="main-footer__newsletter">
            {% if section.settings.newsTitle != blank %}
              <span class="newsletter-title uppercase">{{ section.settings.newsTitle }}</span>
            {% endif %}
            <div class="newsletter-form">
              <form action="">
                <input type="email" name="Email" id="email" placeholder="Enter Email Address">
                <button type="submit" class="btn-submit" value="Subscribe">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="none-980">
            <div class="social-icons">
              {% include 'social-icons' %}
            </div>
            {% if section.settings.description != blank %}
              <div class="description ">
                {{ section.settings.description }}
              </div>
            {% endif %}
          </div>
        </div>

        <!-- Footer Menu -->
        <div class="main-footer__nav flex-wrap">
          {% assign fotterMenu = linklists[section.settings.footerMenu] %}
          {% for link in fotterMenu.links %}
            {% assign linkTitle = link.title | downcase | remove: ' ' %}
            <div class="footer-links">
              <p class="accordion-toggle">
                <a href="javascript:;" title="{{ link.title | escape }}"> {{ link.title | escape }}</a>
              </p>
              <ul class="accordion-content">
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
        <div class=" block-980">
          {% if section.settings.description != blank %}
            <div class="description">
              {{ section.settings.description }}
            </div>
          {% endif %}
          <div class="social-icons">
            {% include 'social-icons' %}
          </div>
        </div>
      </div>
      <div class="main-footer__bottom">
        <!-- Copyright -->
        <div class="copyright">
          <div class="copyright-section flex-wrap">
            {% if section.settings.copyright != blank %}
              <p>
                © {{ 'now' | date: '%Y' }}
                {{ section.settings.copyright }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Instagram"
    },

    {
      "type": "header",
      "content": "Footer Info"
    },
    {
      "type": "text",
      "id": "newsTitle",
      "label": "Newsletter Title",
      "default": "Newsletter"
    },
    {
      "type": "link_list",
      "id": "footerMenu",
      "label": "Footer Menu"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "instagram",
      "name": "Instagram Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "instaImage",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "InstaLink",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
