<div class="full-width-cta">
  <div class="container-1440">
    <div class="container-840">
      {% if section.settings.title != blank %}     
        <h2>
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.content != blank %}     
        <p>
          {{ section.settings.content }}
        </p>
      {% endif %}
        {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
            <a
              href="{{ section.settings.buttonLink }}"
              title="Read More About {{ section.settings.title }}"
              aria-label="Read More About {{ section.settings.title }}"
              class="btn--primary pink"
            > {{ section.settings.buttonText }}</a>
          {% endif %}
        </div>

      </div>
    </div>
{% schema %}
{
  "name": "Full width CTA",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Full width CTA"
    }
  ]
}
{% endschema %}
