{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }


    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }

  }
{%- endstyle -%}
<div class="full-width-cta {{ section.settings.section_class | schema }} section-{{ section.id }}-padding">
  <div class="container-1440">
    <div class="container-900 text-center">
      {% if section.settings.title != blank %}
        <h2 class="medium">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.content != blank %}
        <p>
          {{ section.settings.content }}
        </p>
      {% endif %}
      {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
        <a
          href="{{ section.settings.buttonLink }}"
          title="Read More About {{ section.settings.title }}"
          aria-label="Read More About {{ section.settings.title }}"
          class="btn--primary pink"
        >
          {{ section.settings.buttonText -}}
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Full width CTA",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Add custom class"
    },
    {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 50
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 26
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 26
    }
  ],
  "presets": [
    {
      "name": "Full width CTA without Background"
    }
  ]
}
{% endschema %}
