{% if section.settings.title != blank %}
  <div
    class="full-width-content-section {% if section.settings.backgroundcolor == true %} blue-bg {% endif %}"
    style="background-color:{{ section.settings.bgColor }};"
  >
    <div class="top-wave">
      <div class="container-1440">
        <div class="container-840">
          <h2>
            {{ section.settings.title }}
          </h2>
          {% if section.settings.content != blank %}
            <div class="description">
              {{ section.settings.content }}
            </div>
          {% endif %}
          {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
            <a
              href="{{ section.settings.buttonLink }}"
              title="Read More About {{ section.settings.title }}"
              aria-label="Read More About {{ section.settings.title }}"
              class="btn--primary yellow"
            >
              {{ section.settings.buttonText -}}
            </a>
          {% endif %}
        </div>
        {% if section.settings.image != blank %}
          <div class="kids-images">
            {% comment %} <img src="{{ 'kids-images.webp' | asset_url }}"> {% endcomment %}
            {{ section.settings.image | image_url: width: 1200 | image_tag: loading: 'lazy', widths: '1200x1200' }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Full width content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1028px x 1028px Recommended"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Background Settings"
    },
    {
      "type": "checkbox",
      "id": "backgroundcolor",
      "label": "Do you want to change the background to blue?"
    },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Full width content"
    }
  ]
}
{% endschema %}
