{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }
    .section-{{ section.id }}--padding-inner{
      padding-top: {{ section.settings.paddingtopInner | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomInner | round: 0 }}px;

    }

    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }
    .section-{{ section.id }}--padding-inner{
      padding-top: {{ section.settings.paddingtopMobileInner | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobileInner | round: 0 }}px;

    }
  }
{%- endstyle -%}
{% if section.settings.title1 != blank %}
  <div class="full-width-image-and-content {%if section.settings.bg == true%}bg-white{%endif%} section-{{ section.id }}-padding">
    <div class="container-1260 section-{{ section.id }}--padding-inner {% if section.settings.image != blank or section.settings.videobanner== true %}background-media{% endif %}">
      {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
        <a
          href="{{ section.settings.buttonLink }}"
          title="Read More About {{ section.settings.title1 }}"
          aria-label="Read More About {{ section.settings.title1 }}"
          class="full-link"
        >
        </a>
      {% endif %}
      {%- if section.settings.videobanner -%}
        <div class="video-section">
          <div class="video-wrapper">
            {% if section.settings.video contains '.mp4' %}
              <video muted loop autoplay>
                <source src="{{ section.settings.video }}" type="video/mp4">
              </video>
            {% else %}
              {% if section.settings.video != blank %}
                {% assign videoId = section.settings.video | split: 'vimeo.com/' %}
                <iframe
                  src="https://player.vimeo.com/video/{{ videoId[1] }}?loop=1&autoplay=1&muted=1"
                  frameborder="0"
                  allow="fullscreen"
                  allowfullscreen
                  loading="lazy"
                ></iframe>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% else %}
        {% if section.settings.image != blank %}
          <div class="image-section">
            {% assign imageAlt = section.settings.image.alt %}
      {% if imageAlt == blank %}
        {% assign imageAlt = section.settings.title %}
      {% endif %}
      {% include 'image_code'  with  mobileImage:  section.settings.mobileImage, tabletImage:  section.settings.image, desktopImage:  section.settings.image, imageAlt:  imageAlt %}

           
          </div>
        {% endif %}
      {% endif %}
      <div
        class="
          container-1040 {% if section.settings.content_alignment == "center" %} center-align{% endif %} {% if section.settings.content_alignment == "right" %} right-align{% endif %}{% if
          section.settings.content_alignment == "left" %} left-align{% endif %}
        "
      >
        <div
          class="content"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <h2 class="h1">
            {{ section.settings.title1 }}
            {% if section.settings.title2 != blank %}
              <span class="color-grey h1">{{ section.settings.title2 }}</span>
            {% endif %}
          </h2>
          {% if section.settings.description != blank %}
            <div class="full-format">
              {{ section.settings.description }}
            </div>
          {% endif %}
          {% if section.settings.buttonText != blank %}
            <a
              href="{{section.settings.buttonLink}}"
              class="btn--primary"
              title="Read More About {{ section.settings.title1 }}"
              aria-label="Read More About {{ section.settings.title1 }}"
            >
              {{ section.settings.buttonText }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Full Width Image Content",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image (Desktop)",
      "info": "2522 x 1398px Recommended"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Background Image (Mobile)",
      "info": "640 x 1000px Recommended"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Background Video"
    },
    {
      "type": "checkbox",
      "id": "videobanner",
      "label": "Video Banner [Vimeo or mp4]",
      "default": false
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Black)"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title (Grey)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" },
        { "value": "center", "label": "Center" }
      ],
      "label": "Content Alignment",
      "info": "By default it is center aligned.",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Background Colour"
    },
    {
      "type": "checkbox",
      "id": "bg",
      "label": "White Background Color"
    },
    {
      "type": "header",
      "content": "Top/Bottom Space of Inner Content"
    },
    {
      "type": "range",
      "id": "paddingtopInner",
      "min": 0,
      "max": 280,
      "step": 4,
      "unit": "px",
      "label": "Padding top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobileInner",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomInner",
      "min": 0,
      "max": 280,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobileInner",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Full Width Image And Content"
    }
  ]
}
{% endschema %}
