 <div class="full-width-cta-v2-outer">
    <div class="full-width-cta-v2 {{ section.settings.section_class | schema }}">
      <div class="container-840 text-center">
        <div class="content">
          {% if section.settings.image != blank %}     
            <div class="image-section">
              {{ section.settings.image | image_url }}
            </div>
          {% endif %}
          {% if section.settings.title != blank %}     
            <h2>
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.content != blank %}     
            <p>
              {{ section.settings.content }}
            </p>
          {% endif %}
            {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
                <a
                  href="{{ section.settings.buttonLink }}"
                  title="Read More About {{ section.settings.title }}"
                  aria-label="Read More About {{ section.settings.title }}"
                  class="btn--primary yellow"
                > {{ section.settings.buttonText }}</a>
              {% endif %}
        </div>

      </div>
    </div>
</div>

{% schema %}
{
  "name": "Full width CTA V2",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    },
    {
      "type": "text",
      "id": "section_class",
      "label": "Add custom class"
    }
  ],
  "presets": [
    {
      "name": "Full width CTA V2"
    }
  ]
}
{% endschema %}
