{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }


    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }

  }
{%- endstyle -%}
{% if section.settings.heading != blank %}
  <div class="half-image-half-cards-section section-{{ section.id }}-padding  {% if section.settings.image_position == 'right' %} section-row-right {% endif %}{% if section.settings.wave_color == 'yellow-wave' %} yellow-wave{% elsif section.settings.wave_color == 'transparent-wave' %} transparent-wave {% elsif section.settings.wave_color == 'blue-wave' %} blue-wave{% else %} no-wave {% endif %}">
    <div class="container-1260 flex">
      <div class="top-header">
        <h2>{{ section.settings.heading }}</h2>
        {% if section.settings.subTitle != blank %}
          <h3>{{ section.settings.subTitle }}</h3>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="description">
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>
      <div class="half-image-half-cards flex">
        <div class="image-wrapper">
          {% if section.settings.image != blank %}
            <div
              class="image-section"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              {{ section.settings.image | image_url: width: 1262 | image_tag: loading: 'lazy', widths: '1262x1000' }}
            </div>
          {% endif %}
        </div>
        <div class="card-rows">
          <ul>
            {% for block in section.blocks %}
              <li class="cards">
                {% if block.settings.icon != blank %}
                  <div class="icon-section">
                    {{ block.settings.icon | image_url: width: 100 | image_tag: loading: 'lazy', widths: '100x100' }}
                  </div>
                {% endif %}
                {% if block.settings.title != blank or block.settings.carddescription != blank %}
                  <div class="content">
                    <h3></h3>
                    <div class="description"></div>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div
        class="full-format flex-justify-column-center content  {%if section.settings.center == true%}center{%endif%}"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        <div class="inner">
          {% if section.settings.pretitle != blank %}
            <span class="pre-title">{{ section.settings.pretitle }}</span>
          {% endif %}
          {% if section.settings.title != blank %}
            <h2 class="w-250 {% if section.settings.fontSize == true %} size {% endif %}">
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.description != blank %}
            {{ section.settings.description }}
          {% endif %}
          {% if section.settings.buttonText != blank and section.settings.buttonLink != blank %}
            <a
              href="{{ section.settings.buttonLink }}"
              title="Read More About {{ section.settings.buttonText }}"
              aria-label="Read More About {{ section.settings.buttonText }}"
              class="btn--primary green"
            >
              {{ section.settings.buttonText }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Half Image Half Cards",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Top Header Content"
    },
    {
      "type": "text",
      "id": "subTitle",
      "label": "Sub Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },

    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1262 x 1000px Recommended"
    },
    {
      "type": "header",
      "content": "Bottom Content"
    },
    {
      "type": "richtext",
      "id": "bottomdescription",
      "label": "Bottom Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },

    {
      "type": "header",
      "content": "Extra Settings"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position Left or Right",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "left"
    },

    {
      "type": "select",
      "id": "wave_color",
      "label": "Wave color",
      "options": [
        {
          "value": "transparent-wave",
          "label": "Transparent"
        },
        {
          "value": "yellow-wave",
          "label": "Yellow"
        },
        {
          "value": "blue-wave",
          "label": "Blue"
        }
      ],
      "default": "blue-wave"
    },
    {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 300,
      "step": 3,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 300,
      "step": 3,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Cards",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "100 x 100px Recommended"
        },

        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "carddescription",
          "label": "Description"
        },

        {
          "type": "header",
          "content": "Extra Settings"
        },

        {
          "type": "color",
          "id": "cardColor",
          "label": "Cards Border Colors"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Half Image Half Content"
    }
  ]
}
{% endschema %}
