<!-- Header -->
<header>
  <div class="main-header js__main-header">
    <div class="container-1400 flex-align-center">
      <div class="header-logo relative">
        <a href="{{ routes.root_url }}" itemprop="url" title="{{shop.name}}">
          {% if section.settings.logo != blank %}
            <img
              src="{{section.settings.logo | img_url: 'master' }}"
              class="logo"
              alt="{{shop.name}} Logo"
              loading="lazy"
            >
            <img
              src="{{section.settings.logo | img_url: 'master' }}"
              class="whitelogo"
              alt="{{shop.name}} Logo"
              loading="lazy"
            >
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>

      <div class="middle-menu flex-align-center">
        <!-- Main Nav -->
        <div class="navbar-collapse" id="navbarNavDropdown">
          {% assign mainMenu = linklists[section.settings.nav_menu] %}
          {% assign bottoMenu = linklists[section.settings.bottommobileMenu] %}

          <div class=" search-li block-980">
            <div class="header-search-section js__header-search-section">
              <div class="container-830">
                <button aria-label="search-icon" class="js__search toggle-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M9.888 17.468c3.897 0 7.057-3.136 7.057-7.004 0-3.868-3.16-7.003-7.057-7.003-3.898 0-7.057 3.135-7.057 7.003 0 3.868 3.16 7.004 7.057 7.004zM18.71 19.218l-3.838-3.808" stroke="#3B2900" stroke-width="1.751" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>

                <form method="get" action="/search" class="flex-align-center relative" data-form-type="">
                  <input type="hidden" name="type" value="product">

                  <input class="search" type="search" placeholder="Search Products" aria-label="Search" name="q">
                </form>
              </div>
            </div>
          </div>
          <nav class="main-menu">
            {% include 'site-nav_main' with mainMenu %}
            {% if section.settings.bottommobileMenu != blank %}
              <ul class="bottom-links block-980">
                {% comment %}
                  <li>
                      <a href="/account/login" title="Log In" class="user">
                          My Account
                      </a>
                  </li>
                {% endcomment %}
                {% for link in bottoMenu.links %}
                  <li class="{% if link.levels == 1 %}has-sub-nav{%endif%}">
                    {% if link.levels == 1 %}
                      <p class="accordion-toggle">{{ link.title | escape }}</p>
                    {% else %}
                      <a href="{{ link.url }}" title="{{ link.title | escape }}">
                        {{ link.title | escape }}
                      </a>
                    {% endif %}
                    {% if link.levels == 1 %}
                      <div class="sub-nav accordion-content">
                        <ul class="sub-nav-links">
                          {% for childlink in link.links %}
                            <li>
                              <a href="{{ childlink.url }}" title="{{ link.title | escape }}">
                                {{ childlink.title | escape }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
        </div>
        <ul class="right-nav flex-align-center">
          <li class=" search-li none-980">
            <button aria-label="search" class="js__search search-icon" title="Search">
              {% include 'icon-search' %}
            </button>

            <div class="header-search-section js__header-search-section">
              <div class="container-830">
                {% comment %} <a href="javascript:;" class=" toggle-icon"> {% include 'icon-search' %}</a> {% endcomment %}

                <form method="get" action="/search" class="flex-align-center relative" data-form-type="">
                  <input type="hidden" name="type" value="product">

                  <input class="search" type="search" placeholder="Search Products" aria-label="Search" name="q">

                  <input type="submit" aria-label="Submit" class="submit btn-submit" value="Search">
                </form>
              </div>
              <button aria-label="close" id="search-close" class="close">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M9.902 18.786a9 9 0 1 0 0-18 9 9 0 0 0 0 18zM12.601 7.085l-5.4 5.4M7.201 7.085l5.4 5.4" stroke="#3B2900" stroke-width="1.326" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </li>
          <li>
            <button aria-label="cart-icon" class="js__cart-expand js__update-cart-icon cart" title="cart">
              {%- include 'icon-cart' %}
              <span class="js__ajax-cart-count cart-count"> {{ cart.item_count }}</span>
            </button>
          </li>
          <li class="account">
            {% if customer %}
              <a href="/account" title="My Account" class="user site-nav__link">
                {% include 'icon-account' %}
              </a>
            {% else %}
              <a href="/account/login" title="Log In" class="user site-nav__link">
                {% include 'icon-account' %}
              </a>
            {% endif %}
          </li>
        </ul>
        <ul class="block-980">
          <!-- To be visible from ipad -->
          <li class="mobile-hamburger block-980">
            <button id="hamburger" type="button">
              <span class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
                  <path d="M31.4126 16.2891C31.4126 19.7124 29.7344 22.7167 27.2091 24.4123C25.4531 25.5913 23.8215 26.9662 22.2907 28.4626C20.9962 29.7276 19.272 30.5 17.38 30.5C16.0969 30.5 14.8911 30.1452 13.8442 29.5222C12.159 28.5199 10.3066 27.8887 8.39537 27.6137C5.08877 27.1375 0.552734 25.1976 0.552734 18.3306C0.552734 15.9036 1.29959 13.6744 2.63436 11.9454C3.76422 10.4818 4.70002 8.86195 5.49731 7.16705C7.35807 3.21294 11.1887 0.5 15.6131 0.5C19.2114 0.5 22.4165 2.29453 24.4892 5.09208C25.4626 6.40693 26.5657 7.6092 27.8207 8.61495C30.0019 10.3638 31.4132 13.1504 31.4132 16.2891H31.4126Z" fill="white"/>
                  <path d="M10.168 16.1777H22.2959" stroke="#D51F91" stroke-width="1.49077" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10.168 12.1357H22.2959" stroke="#D51F91" stroke-width="1.49077" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10.168 20.2207H22.2959" stroke="#D51F91" stroke-width="1.49077" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <span class="close">{% include 'icon-mobile-menu-close' %}</span>
            </button>
          </li>
        </ul>
      </div>

      <!-- Logo -->
      <!-- Account, Cart -->
    </div>
  </div>
  <!-- Mini Cart -->
  <div id="cart_overlay"></div>
  {% include 'cart_drawer' %}
</header>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "188 x 40px Recommended"
    },
    {
      "type": "image_picker",
      "id": "whiteLogo",
      "label": "White Logo"
    },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "Main Menu"
    },
    {
      "type": "link_list",
      "id": "loginMenu",
      "label": "Login Menu"
    },
    {
      "type": "link_list",
      "id": "bottommobileMenu",
      "label": "Mobile Bottom Menu"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
