{% if section.settings.title != blank %}
  <div class="slider hero-banner-slider color-{{ section.settings.color_scheme }} {% if section.settings.bluegradient == true %} blue-gradient{% endif %}">
    <div class="swiper-wrapper">
      {% if section.settings.backgroundImage != blank or section.settings.videobanner != blank %}
        <div
          class="
            slide swiper-slide
            hero-banner
          "
        >
          {% if section.settings.buttonLink != blank and section.settings.buttonText != blank %}
            <a
              href="{{ section.settings.buttonLink }}"
              title="Read More About {{ section.settings.title }}"
              aria-label="Read More About {{ section.settings.title }}"
              class="full-link"
            ></a>
          {% endif %}

          <div class="container-1260 flex-wrap">
            {% if section.settings.backgroundImage != blank %}
              <div class="image-section {%if section.settings.gradient == true%} gradient-none{%endif%}">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="{% if section.settings.backgroundImageMobile != blank %}{{ section.settings.backgroundImageMobile | img_url: '600x600' }}{%endif%}"
                  >
                  <img
                    src="{{ section.settings.backgroundImage | img_url: '1028x1028' }}"
                    alt="{{ section.settings.backgroundImage.alt}}"
                  >
                </picture>
              </div>
            {% endif %}

            <div
              class="content"
            >
              {% if section.settings.pretitle != blank %}
                <span class="pre-title">{{ section.settings.pretitle }}</span>
              {% endif %}
              <h1>{{ section.settings.title }}</h1>

              {% if section.settings.description != blank %}
                {{ section.settings.description }}
              {% endif %}
              {% if section.settings.buttonText != blank %}
                <span
                  class="btn--primary"
                >
                  {{- section.settings.buttonText -}}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Background Image (Desktop)",
      "info": "1028px x 1028px Recommended"
    },
    {
      "type": "image_picker",
      "id": "backgroundImageMobile",
      "label": "Background Image (Mobile)",
      "info": "750 x 1400px Recommended"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "PreTitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Extra Settings"
    },
    {
      "type": "checkbox",
      "id": "bluegradient",
      "label": "Change the background to blue gradient"
    }
  ],

  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
