{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.paddingtop | round: 0 }}px;
    padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
  }

  @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }
  }
{%- endstyle -%}
<div class="inner-hero-section {% if section.settings.height == true %} max-height{% endif %} {% if section.settings.smallHeight == true %} small {% endif %} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  {% if section.settings.image != blank %}
    <div class="image-section {% if section.settings.gradient == true %} gradient{%endif%}">
      <picture>
        <source
          media="(max-width: 480px)"
          srcset="{% if section.settings.mobileImage != blank %}{{ section.settings.mobileImage | img_url: '750x1400' }}   {% endif %}"
        >
        {{ section.settings.image | image_url: width: 2880 | image_tag: loading: 'lazy', widths: '2880x1620' }}
      </picture>
    </div>
  {% endif %}
  {% comment %} {% endif %} {% endcomment %}
  <div
    class="
      container-1240 {% if section.settings.content_alignment == "center" %} center--align {% endif %} {% if section.settings.content_alignment == "right" %} right--align {% endif %}{% if
      section.settings.content_alignment == "left" %} left--align {% endif %}
    "
  >
    <div class="content">
      {% if section.settings.title %}
        <h1>
          {{ section.settings.title }}
        </h1>
      {% else %}
        <h2 class="h1">
          {{ page.title }}
        </h2>
      {% endif %}

      {% if section.settings.description != blank %}
        {{ section.settings.description }}
      {% endif %}

      <div class="buttons">
        {% if section.settings.buttonText1 != blank %}
          <a
            href="{{ section.settings.buttonLink1 }}"
            title="Read More About {{ section.settings.buttonText1 }}"
            aria-label="Read More About {{ section.settings.buttonText}}"
            class="btn--primary {% if section.settings.button_bg == 'green' %} green{% else %} pink{% endif %}"
            title="{{ section.settings.buttonText1 }}"
          >
            {{- section.settings.buttonText1 -}}
          </a>
        {% endif %}
        {% if section.settings.buttonText2 != blank %}
          <a
            href="{{ section.settings.buttonLink2 }}"
            title="Read More About {{ section.settings.buttonText2 }}"
            aria-label="Read More About {{ section.settings.buttonText2 }}"
            class="btn--primary"
            title="{{ section.settings.buttonText2 }}"
          >
            {{- section.settings.buttonText2 -}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Inner Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image (Desktop)",
      "info": "2880 x 1620px Recommended"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Background Image (Mobile)",
      "info": "750 x 1400px Recommended"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },

    {
      "type": "text",
      "id": "buttonText1",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "buttonLink1",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_bg",
      "label": "Button Background color",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        }
      ],
      "default": "pink"
    },
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "label": "Content Alignment",
      "info": "By default it is center aligned.",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "height",
      "label": "Increase Height of The Banner by 100px "
    }
  ],
  "presets": [
    {
      "name": "Inner Banner"
    }
  ]
}
{% endschema %}
