{% if section.blocks.size > 0 %}
  <div class="listing">
    <div class="container-1020">
      <div class="top-section full-format">
        {% if section.settings.title1 != blank %}
          <h2>
            {{ section.settings.title1 }}
            {% if section.settings.title2 != blank %}
              <span class="color-grey h2">{{ section.settings.title2 }}</span>
            {% endif %}
          </h2>
        {% endif %}
        {% if section.settings.description != blank %}
          {{ section.settings.description }}
        {% endif %}
      </div>
      <ul id="loadMore">
        {%- for block in section.blocks -%}
          {% if block.settings.title != blank %}
            <li>
              <a
                href="{{ block.settings.link }}"
                title="Read More About {{ block.settings.title }}"
                aria-label="Read More About {{ block.settings.title }}"
              >
                <h3>{{ block.settings.title }}</h3>
              </a>
              <div class="full-format small">
                {% if block.settings.description != blank %}
                  {{ block.settings.description }}
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if section.blocks.size > 5 %}
        <a href="javasscript:void(0)" id="loadlist" class="btn--primary">View More</a>
      {% endif %}
    </div>
  </div>
{% endif %}
<script>
  const loadmorelist = document.querySelector('#loadlist');
  let currentItem = 5;
  loadmorelist.addEventListener('click', (e) => {
    const customList = [...document.querySelectorAll('#loadMore li')];
    for (let i = currentItem; i < currentItem + 5; i++) {
      if (customList[i]) {
        customList[i].style.display = 'block';
      }
    }
    currentItem += 5;

    // Load more button will be hidden after list fully loaded
    if (currentItem >= customList.length) {
      event.target.style.display = 'none';
    }
  });
</script>
{% schema %}
{
  "name": "Listing",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Primary)"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title (Secondary)"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Listing"
    }
  ]
}
{% endschema %}
