{%- assign limit = 5 -%}
{% paginate collection.products by limit %}
<div
  class="collection-section"
  id="CollectionSection"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-sort-enabled="{{ section.settings.sort_enable }}"
>
  <div class="container-1260 flex">
    <ul class="collection__product-list flex {% if collection.products == blank %} empty-collection{%endif %}">
      {% for productRelated in collection.products %}
        <li class="product-card">
          {% include 'product_Card'  with  productRelated: productRelated , show_price: true, show_tags: false, show_auto_tags: false, show_title: true, show_fav: false, show_secondary_button: false %}
            </li>
      {% else %}
        {% comment %}
          Add default products to help with onboarding for collections/all only.
          The onboarding styles and products are only loaded if the
          store has no products.
        {% endcomment %}
        {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
          <li class="grid__item product-card 22">
            <div class="grid grid--uniform">
              {% for i in (1..limit) %}
                <div class="grid__item">
                  <div class="grid-view-item">
                    <a href="#" class="grid-view-item__link">
                      <div class="grid-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                      <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                      <div class="grid-view-item__meta">
                        <span class="product-price__price">$19.99</span>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </li>
        {% else %}
          {%- assign is_empty_collection = true -%}
        {% endif %}
      {% endfor %}
    </ul>

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
  </div>
  {%- if paginate.pages > 1 -%}
    <div class="container-1380">
      {% include 'pagination', paginate: paginate %}
    </div>
  {%- endif -%}
</div>
</div>
{% endpaginate %}