<div class="search-section"></div>
{% paginate search.results by 12 %}
<div class="search-section">
  <div class="inner-hero-section  white-bg">
    <div class="container-1340 text-center">
      {% if search.performed == false %}
      <h1>
        {{ 'general.search.title' | t }}
      </h1>
      {% else %}
    
      <h1>
       
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
      {% endif %}
      <div class="form-section text-center">
        {% if search.performed and search.results_count == 0 %}
        <div class="rte search--no-results-found">
          <p>{{ 'general.search.no_results' | t }}</p>
        </div>
        {% endif %}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
          <input type=hidden name=type value="product,article,page">
          <div class="input-group input-group--nowrap">
            <div class="input-group__field input-group__field--connected search-form__input-wrapper">
              <input type="search" name="q" value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.placeholder' | t }}" role="combobox" aria-autocomplete="list"
                aria-owns="predictive-search-results" aria-expanded="false"
                aria-label="{{ 'general.search.placeholder' | t }}" aria-haspopup="listbox" class="search-form__input"
                data-search-page-predictive-search-input data-base-url="{{ routes.search_url }}" />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
            </div>
            <button type="submit" class="btn--primary" aria-label="{{ 'general.search.submit' | t }}"
              data-search-page-predictive-search-submit>
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
    {% include 'graphic-bottom' %}
  </div>
  <div class="container-1380 ">
    {% if search.performed %}
    <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
    <ul class="collection__product-list flex-wrap">
      {% for item in search.results %}
    
        {% if item.object_type == 'product' %}
          {% unless item.object_type.tags contains 'publishing-services' %}
            <li class="grid__item product-card">
        {% include 'product_Card'  with  productRelated: item , show_price: true, show_tags: true, show_auto_tags: true, show_title: true, show_fav: true, show_secondary_button: true %}
      </li>
      {% endunless %}
        {% else %}
        <li class="grid__item product-card">
        <a class="product-wrapper" title="{{ item.title }}" href="{{ item.url }}" tabindex="0">
          <div class="image-section">
            <img src="{{ "search-image.webp" | asset_url }}" class="cover">
          </div>
          <div class="content">
            <h3 class="h5 product-card__product-title uppercase">
              {{ item.title }}
              </h4>
          </div>
        </a>
      </li>
        {% endif %}
     
      {% endfor %}
    </ul>
    {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
    {%- endif -%}
    {% endif %}
    {% if search.results_count < 2  %}
    <div class="search--less-than-2-results"></div>
    {% endif %}
    {% endpaginate %}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content",
      "info": "t:sections.main-search.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-search.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-search.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
