{% if product.tags contains 'hide' or product.tags contains 'Hide' %}
  <script>
    window.location.href = '/collections/all';
  </script>
{% endif %}
{%- assign current_variant = product.selected_or_first_available_variant -%}

<div id="product" class="product">
  <div class="inner">
    {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
      {%- assign t = template | split: '.' | first -%}
      <div class="breadcrump hide" role="navigation" aria-label="breadcrumbs">
        <div class="container-1300">
          <ul>
            <li>
              <a href="/"> Home </a>
            </li>
            {% assign full_url = request.path %}
            {% assign productURL = full_url | split: '/' %}
            {% if productURL[1] == 'collections' %}
              <li>
                <a href="{{ collections[productURL[2] ].url }}" title="{{ collections[productURL[2] ].title }}">
                  {{ collections[productURL[2]].title }}
                </a>
              </li>
            {% endif %}
            <li class="active">
              <span>{{ product.title }}</span>
            </li>
          </ul>
        </div>
      </div>
    {%- endunless -%}

    <div class="container-1260 flex-wrap">
      {% comment %}
        <div class=" block-980">
          <span class="product__pre-title hide"></span>
          <h2 class="h1 product__title uppercase">
            {% if product.metafields.product.display_name != blank %}
              {{ product.metafields.product.display_name }}
            {% else %}
              {{ product.title }}
            {% endif %}
          </h2>
          <p>Enhances your sleep & offers nutritional support</p>
        </div>
      {% endcomment %}
      <!-- Left Product Image Slider Section -->

      <div class="left-section">
        {% include 'product_images' %}
      </div>

      <!-- Right Product Information Section -->
      <div
        class="product__information"
        id="ProductSection"
        data-section-id="{{ section.id }}"
        data-section-type="product-template"
        data-image-zoom-type="{{ section.settings.product_image_zoom_type }}"
        data-extra-tab-content="{{ section.settings.extra_tab_content }}"
        data-enable-history-state="true"
      >
        <div class="">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'title' -%}
                <h1 class="h2 medium js__pdp-title uppercase">
                  {{ product.title | escape }}
                </h1>

              {% when 'price' %}
                <div
                  class="product-single__prices js__product-single__prices"
                  itemprop="price"
                  content="{{ current_variant.price | divided_by: 100.00 }}"
                >
                  {% if product.price < product.compare_at_price %}
                    <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
                    <span>{{ product.price | money_without_trailing_zeros }}</span>
                  {% else %}
                    <span> {{ product.price | money_without_trailing_zeros }}</span>
                  {% endif %}
                </div>
                <!-- Product Short Description -->
              {% when 'description' %}
                {%- if product.description != blank -%}
                  <div class="description">
                    <p>{{ product.description | strip_html | truncate: 150 }}</p>
                  
                    <div class="js__pdp-view-details more-link">Learn More</div>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {% endfor %}

          {% comment %}
            <div class="description">
              <p>
                Where Hands Go is a carefully crafted book, handsomely illustrated, for parents to teach their children
                about the dangers of inappropriate touching... <a>Learn More</a>
              </p>
            </div>
          {% endcomment %}

          <div class="flex-column price__wrapper ">
            {% comment %} Price {% endcomment %}
            <div class=" ">
              <div data-oke-reviews-product-listing-rating>{{ product.metafields.okendo.ProductListingSnippet }}</div>
            </div>
          </div>
        </div>

        {% comment %} Form {% endcomment %}
        <div class="product__form">
          <form
            action="/cart/add"
            id="add-to-cart"
            method="post"
            enctype="multipart/form-data"
            data-productid="{{ product.id }}"
          >
            {% include 'product_linked-options' %}
            <div class="hide">
              <select id="product-select" name="id" style="display: none;">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option
                      {% if variant == current_variant %}
                        selected="selected"
                      {% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option value="{{ variant.id }}">{{ variant.title }} - sold out!</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="product__actions flex">
              <div class="product-single__quantity js-product-single__quantity js-quantity-hide">
                <span class="hide">Qty</span>
                <div class="quantity-outer " data-children-count="1">
                  <a class="minus-qty js-plus-minus-qty" data-type="minus">{% include 'icon-minus' %}</a>
                  <input
                    type="text"
                    class="quantity-selector js-quantity-selector"
                    value="1"
                    id="Quantity"
                    name="quantity"
                  >
                  <a class="plus-qty js-plus-minus-qty" data-type="plus">{% include 'icon-plus' %}</a>
                </div>
              </div>
              <div class="add-to-cart">
                <button
                  type="submit"
                  name="add"
                  id="add"
                  class="btn--primary yellow"
                  onclick="addItem('add-to-cart'); return false;"
                >
                  <span class="pdp-add-to-cart-text">Add to Cart</span>
                  {% comment %} <span class="pdp-add-to-cart-price"></span> {% endcomment %}
                </button>
                <div class="trigger_disclaimer"></div>
              </div>
            </div>
          </form>
        </div>
        {% comment %} Form ends {% endcomment %}
        {% comment %}
          show success/error message if required.
          This needs to be enabled in js
        {% endcomment %}
        <div id="cart-message"></div>
        {% comment %} Tabs {% endcomment %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'three-column-info' -%}
              {% if block.settings.icon_1 != blank %}
                <div class="pdp-three-column-box">
                  <ul>
                    {% if block.settings.text_1 != blank or block.settings.icon_1 != blank %}
                      <li>
                        {% if block.settings.icon_1 != blank %}
                          <div class="icon">
                            {{
                              block.settings.icon_1
                              | image_url: width: 200
                              | image_tag: loading: 'lazy', widths: '200x200'
                            }}
                            {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                          </div>
                        {% endif %}
                        {% if block.settings.text_1 != blank %}
                          <span>{{ block.settings.text_1 }}</span>
                        {% endif %}
                      </li>
                    {% endif %}
                    {% if block.settings.text_2 != blank or block.settings.icon_2 != blank %}
                      <li>
                        {% if block.settings.icon_2 != blank %}
                          <div class="icon">
                            {{
                              block.settings.icon_2
                              | image_url: width: 200
                              | image_tag: loading: 'lazy', widths: '200x200'
                            }}
                            {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                          </div>
                        {% endif %}
                        {% if block.settings.text_2 != blank %}
                          <span>{{ block.settings.text_2 }}</span>
                        {% endif %}
                      </li>
                    {% endif %}
                    {% if block.settings.text_3 != blank or block.settings.icon_3 != blank %}
                      <li>
                        {% if block.settings.icon_3 != blank %}
                          <div class="icon">
                            {{
                              block.settings.icon_3
                              | image_url: width: 200
                              | image_tag: loading: 'lazy', widths: '200x200'
                            }}
                            {% comment %} <img src="{{ 'icon-truck-dark.webp' | asset_url }}"> {% endcomment %}
                          </div>
                        {% endif %}
                        {% if block.settings.text_3 != blank %}
                          <span>{{ block.settings.text_3 }}</span>
                        {% endif %}
                      </li>
                    {% endif %}
                  </ul>
                </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
      {% comment %} Right section Ends {% endcomment %}
    </div>
  </div>
</div>

<span class="hide js__onetimeText">{{ section.settings.onetimeText }}</span>
<span class="hide js__subscribeText">{{ section.settings.subscribeText }}</span>
{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}
{% schema %}
{
  "name": "Product Information",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": "Show quantity selector"
    },
    {
      "type": "header",
      "content": "Product options form (Not being used)"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Recharge Info"
    },
    {
      "type": "text",
      "id": "onetimeText",
      "label": "Onetime Info"
    },
    {
      "type": "text",
      "id": "subscribeText",
      "label": "Subscribe info"
    },
    {
      "type" : "header",
      "content" : "The number of products has been sold"
  },
  {
      "type" : "checkbox",
      "id" : "show_sold_in",
      "label" : "Enabled",
      "default" : true
  },
  {
      "type" : "textarea",
      "id" : "item_prd",
      "label" : "The number of products",
      "default" : "3,5,6,7,8,10,12,15"
  },
  {
      "type" : "text",
      "id" : "item_prds",
      "label" : "Text Sold in",
      "default" : "sold in last"
  },
  {
      "type" : "textarea",
      "id" : "hours_prs",
      "label" : "Hours",
      "default" : "10,15,16,17,18,20,25,35"
  },
  {
      "type" : "text",
      "id" : "item_hours",
      "label" : "Text Hours",
      "default" : "hours"
  }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Product Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },


    {
      "type": "three-column-info",
      "name": "Three Col. Info",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_1",
          "label": "Icon (First)"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text (First)"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "Icon (Second)"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text (Second)"
        },

        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "Icon (Third)"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text (Third)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}

{% if template contains 'product' %}
  {% assign selected_variant = product.selected_or_first_available_variant | default: product.variants.first %}
  {% assign product_image = selected_variant.featured_image | default: product.featured_image %}
  {%- capture product_name -%}
        {{ product.title }}
        {%- if selected_variant.title != 'Default Title' and selected_variant.option1 == 'Default Title' -%}
          - {{ selected_variant.title }}
        {%- endif -%}
      {%- endcapture -%}
  {%- assign now = 'now' | date: '%Y-%m-%d' | split: '-' -%}
  {% capture year_from_now %}{{ now[0] | plus: 1 }}-{{ now[1] }}-{{ now[2] | at_most: 28 }}{% endcapture %}
  <script type="application/ld+json">
      {
            "@context": "http://schema.org/",
            "@type": "Product",
            "url": "{{shop.secure_url | escape}}{{ product.url | escape }}",
            "name": {{ product_name | strip_newlines | json }},
            "image": {{ product_image | img_url: '1024x1024' | prepend: 'https:' | json }},
            "gtin12": {{ selected_variant.barcode | json }},
            {% if product.description != blank %}
                "description": {{ product.description | json }},
              {% endif %}
              {% if product.vendor %}
              "brand": {
                "@type": "Thing",
                "name": {{ product.vendor | json }}
              },
            {% endif %}
            {% if selected_variant.sku != blank %}
        "sku": {{ selected_variant.sku | json }},
      {% endif %}
      {% if selected_variant.barcode != blank %}
      "mpn": {{ selected_variant.barcode | json }},
    {% endif %}
    "offers": {
      "@type": "Offer",
      "priceCurrency": {{ cart.currency.iso_code | json }},
      "price": {{ selected_variant.price | divided_by: 100.0 | json }},
      "availability": "http://schema.org/{% if selected_variant.available %}InStock{% else %}OutOfStock{% endif %}",
      "url": "{{ shop.url }}{{ selected_variant.url }}",
      "seller": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
      },
      "priceValidUntil": {{ year_from_now | json }}
    },
    "review": {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "0"
      }
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "0",
      "bestRating": "0",
      "ratingCount": "0"
    }
            {% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %}
            ,"aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": {{ product.metafields.stamped.reviews_average | round: 2 }},
                "reviewCount": {{ product.metafields.stamped.reviews_count }},
                "bestRating": 5,
                "worstRating": 1
            }
            {% endif %}
      }
  </script>
{% endif %}
<span class="js__productid" data-id="{{product.id }}"></span>
