{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }


    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }

  }
{%- endstyle -%}
{% if section.settings.title != blank %}
  <div class="review-slider-with-image section-{{ section.id }}-padding">
    <div class="container-1260 flex">
      <div class="left-section">
        <div class="inner">
          <div class="heading">
            {% if section.settings.pretitle != blank %}
              <span class="pre-title"> {{ section.settings.pretitle }}</span>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2>{{ section.settings.title }}</h2>
            {% endif %}
          </div>

          <div class="slider-outer">
            <div class="slider {% if section.blocks.size > 0 %}js__review-slider{% endif %}">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                  <div class="slide swiper-slide">
                    <div class="box">
                      <div class="icon">
                        <img src="{{ 'icon-rating-stars.svg' | asset_url }}" alt="stars-images">
                      </div>
                      {% if block.settings.name != blank %}
                        <h3>{{ block.settings.name }}</h3>
                      {% endif %}
                      {% if block.settings.description != blank %}
                        <div class="small description">
                          {{ block.settings.description }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                {% comment %}
                  <div class="slide swiper-slide">
                    <div class="box">
                      <div class="icon">
                        <img src="{{ 'icon-rating.webp' | asset_url }}">
                      </div>
                      <h3>Beulah Henry</h3>
                      <p class="small">
                        You won't be disappointed in buying this book. It is perfect for parents to teach our young ones
                        what is appropriate and not appropriate touching. With this time in age, this book is a great
                        introduction to that subject. Well worth the price! You will love this book.
                      </p>
                    </div>
                  </div>
                  <div class="slide swiper-slide">
                    <div class="box">
                      <div class="icon">
                        <img src="{{ 'icon-rating.webp' | asset_url }}">
                      </div>
                      <h3>Beulah Henry</h3>
                      <p class="small">
                        You won't be disappointed in buying this book. It is perfect for parents to teach our young ones
                        what is appropriate and not appropriate touching. With this time in age, this book is a great
                        introduction to that subject. Well worth the price! You will love this book.
                      </p>
                    </div>
                  </div>
                {% endcomment %}
              </div>
            </div>
            <div class="swiper-button-prev-review-slider">
              {% include 'icon-arrow-slide-black-small' %}
            </div>
            <div class="swiper-button-next-review-slider">
              {% include 'icon-arrow-slide-black-small' %}
            </div>
          </div>
        </div>
      </div>
      {% if section.settings.image != blank %}
        <div class="image-wrapper">
          <div class="image-section">
            {% comment %} <img src="{{ 'dummy-image-2.webp' | asset_url }}"> {% endcomment %}
            {{ section.settings.image | image_url: width: 1200 | image_tag: loading: 'lazy', widths: '1200x1200' }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Review Slider with Image",
  "settings": [
    {
      "type": "text",
      "id": "pretitle",
      "label": "PreTitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px Recommended"
    },
    {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Reviews",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review Slider"
    }
  ]
}
{% endschema %}
