<div class="review-slider-with-image">
  <div class="container-1260 flex">
    <div class="left-section">
      <div class="inner">
        <div class="heading">
          {% if section.settings.pretitle != blank %}
            <span class="pre-title"> {{ section.settings.pretitle }}</span>
          {% endif %}
          {% if section.settings.title != blank %}
            <h2>What customers say about us</h2>
          {% endif %}
        </div>
        <div class="slider-outer">
          <div class="slider js__review-slider">
            <div class="swiper-wrapper">
              <div class="slide swiper-slide">
                <div class="box">
                  <div class="icon">
                    <img src="{{ 'icon-rating.webp' | asset_url }}">
                  </div>
                  <h3>Beulah Henry</h3>
                  <p class="small">
                    You won't be disappointed in buying this book. It is perfect for parents to teach our young ones
                    what is appropriate and not appropriate touching. With this time in age, this book is a great
                    introduction to that subject. Well worth the price! You will love this book.
                  </p>
                </div>
              </div>
              <div class="slide swiper-slide">
                <div class="box">
                  <div class="icon">
                    <img src="{{ 'icon-rating.webp' | asset_url }}">
                  </div>
                  <h3>Beulah Henry</h3>
                  <p class="small">
                    You won't be disappointed in buying this book. It is perfect for parents to teach our young ones
                    what is appropriate and not appropriate touching. With this time in age, this book is a great
                    introduction to that subject. Well worth the price! You will love this book.
                  </p>
                </div>
              </div>
              <div class="slide swiper-slide">
                <div class="box">
                  <div class="icon">
                    <img src="{{ 'icon-rating.webp' | asset_url }}">
                  </div>
                  <h3>Beulah Henry</h3>
                  <p class="small">
                    You won't be disappointed in buying this book. It is perfect for parents to teach our young ones
                    what is appropriate and not appropriate touching. With this time in age, this book is a great
                    introduction to that subject. Well worth the price! You will love this book.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev-review-slider">
            {% include 'icon-arrow-slide-black-small' %}
          </div>
          <div class="swiper-button-next-review-slider">
            {% include 'icon-arrow-slide-black-small' %}
          </div>
        </div>
      </div>
    </div>
    <div class="image-wrapper">
      <div class="image-section">
        <img src="{{ 'dummy-image-2.webp' | asset_url }}">
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Review Slider with Image",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Review Slider"
    }
  ]
}
{% endschema %}
