{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }

    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }

  }
{%- endstyle -%}
{% if section.settings.heading != blank %}
  <div class="team-cards-with-popup section-{{ section.id }}-padding ">
    <div class="container-1260">
      <div class="top-header">
        <h2>{{ section.settings.heading }}</h2>
        {% if section.settings.subTitle != blank %}
          <h3>{{ section.settings.subTitle }}</h3>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="description">
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>
      <div class="half-image-half-cards flex">
        <div class="card-rows-content">
          {% if section.blocks.size > 0 %}
            <ul class="cards-rows-outer">
              {% for block in section.blocks %}
                <li class="cards flex" id="block-{{ block.id }}">
                  <div class="background-div" style="border: 2px solid {{ block.settings.borderColor }};"></div>
                  {% if block.settings.teamimage != blank %}
                    <div class="team-image">
                      {{ block.settings.teamimage | image_url: width: 1000 | image_tag: loading: 'lazy', widths: '1000x1000' }}
                    </div>
                  {% endif %}
                  {% if block.settings.title != blank or block.settings.carddescription != blank %}
                    <div class="content">
                      {% if block.settings.title != blank %}
                        <h3>{{ block.settings.title }}</h3>
                      {% endif %}
                      {% if block.settings.designation != blank %}
                        <p class="designation">{{ block.settings.designation }}</p>
                      {% endif %}
                      {% if block.settings.carddescription != blank %}
                        <div class="description">
                          {{ block.settings.carddescription }}
                        </div>
                        <button class="read-more-btn">Read More</button>
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="popup-container hidden">
                    <div class="popup-content" style="border: 1px solid {{ block.settings.borderColor }};">
                        <span class="close-popup">{% render 'icon-close-circle' %}</span>
                        <div class="popup-text-content">
                        {% if block.settings.teamimage != blank %}
                            <div class="team-image">
                            {{ block.settings.teamimage | image_url: width: 1000 | image_tag: loading: 'lazy', widths: '1000x1000' }}
                            </div>
                        {% endif %}
                        {% if block.settings.title != blank or block.settings.carddescription != blank %}
                            <div class="content">
                            {% if block.settings.title != blank %}
                                <h3>{{ block.settings.title }}</h3>
                            {% endif %}
                            {% if block.settings.designation != blank %}
                                <p class="designation">{{ block.settings.designation }}</p>
                            {% endif %}
                            {% if block.settings.carddescription != blank %}
                                <div class="text-wrap">
                                {{ block.settings.carddescription }}
                                </div>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script>
$(document).ready(function () {
  // Attach event handlers to each block
  $(".cards").each(function () {
    const $block = $(this); // The specific block
    const $readMoreBtn = $block.find(".read-more-btn");
    const $popupContainer = $block.find(".popup-container");
    const $closePopup = $block.find(".close-popup");

    // Show the popup for the specific block
    $readMoreBtn.on("click", function () {
      $popupContainer.fadeIn().css('display','flex'); // Open the popup
    });

    // Close the popup for the specific block
    $closePopup.on("click", function () {
      $popupContainer.fadeOut(); // Close the popup
    });

    // Close the popup when clicking outside the popup content
    $popupContainer.on("click", function (e) {
      if ($(e.target).is($popupContainer)) {
        $popupContainer.fadeOut(); // Close the popup
      }
    });
  });
});
</script>

{% schema %}
{
  "name": "Team Cards with Popup",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Top Header Content"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
   {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 300,
      "step": 3,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 300,
      "step": 3,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Cards",
      "settings": [
        {
          "type": "image_picker",
          "id": "teamimage",
          "label": "Image",
          "info": "400 x 400px Recommended"
        },

        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "designation",
          "label": "Designation"
        },
        {
          "type": "richtext",
          "id": "carddescription",
          "label": "Description"
        },

        {
          "type": "header",
          "content": "Extra Settings"
        },

        {
          "type": "color",
          "id": "borderColor",
          "label": "Cards Border Colors"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team member card with popup"
    }
  ]
}
{% endschema %}
<script>
  jQuery(document).ready(function ($) {
  });
</script>
