{% if section.settings.heading != blank %}
  <div class="three-column-card-section">
    <div class="container-1260">
      <h2>{{ section.settings.heading }}</h2>
      {% if section.blocks.size > 0 %}
        <ul class="cards-block">
          {% for block in section.blocks %}
            <li class="card">
              {% if block.settings.icon != blank %}
                <div class="image-section">
                  {{ block.settings.icon | image_url: width: 100 | image_tag: loading: 'lazy', widths: '100x100' }}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="description">
                  {{ block.settings.description }}
                </div>
              {% endif %}
              {% if block.settings.btnLink != blank and block.settings.btnText != blank %}
                <a href="{{ block.settings.btnLink }}" title="{{ block.settings.btnText }}" class="btn--tertiary">
                  {{- block.settings.btnText -}}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Three Column Cards",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "cards",
      "name": "Cards",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "100 x 100px Recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btnText",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btnLink",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Column Cards Section"
    }
  ]
}
{% endschema %}
