{%- style -%}
  .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtop | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottom | round: 0 }}px;
    }


    @media screen and (max-width: 768px) {
    .section-{{ section.id }}-padding{
      padding-top: {{ section.settings.paddingtopmobile | round: 0 }}px;
      padding-bottom: {{ section.settings.paddingbottomMobile | round: 0 }}px;
    }

  }
{%- endstyle -%}

{% if section.blocks.size > 0 %}
  {% if section.settings.title1 != blank %}
    <div
      class="three-column-video-card section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
      id="loadMoreList"
    >
      <div class="container-1300">
        {%- if section.settings.videobanner -%}
          <div class="video-section">
            <div class="video-wrapper none-980">
              {% if section.settings.video contains '.mp4' %}
                <video muted loop autoplay controls:false>
                  <source src="{{ section.settings.video }}" type="video/mp4">
                </video>
              {% else %}
                {% if section.settings.video != blank %}
                  {% assign videoId = section.settings.video | split: 'vimeo.com/' %}
                  <iframe
                    src="https://player.vimeo.com/video/{{ videoId[1] }}?loop=1&autoplay=1&muted=1"
                    frameborder="0"
                    allow="fullscreen"
                    allowfullscreen
                    loading="lazy"
                  ></iframe>
                {% endif %}
              {% endif %}
            </div>
            {% if section.settings.videoMobile != blank %}
              <div class="video-wrapper block-980">
                {% if section.settings.videoMobile contains '.mp4' %}
                  <video muted loop autoplay>
                    <source src="{{ section.settings.videoMobile }}" type="video/mp4">
                  </video>
                {% else %}
                  {% if section.settings.videoMobile != blank %}
                    {% assign videoId = section.settings.videoMobile | split: 'vimeo.com/' %}
                    <iframe
                      src="https://player.vimeo.com/video/{{ videoId[1] }}?loop=1&autoplay=1&muted=1"
                      frameborder="0"
                      allow="fullscreen"
                      allowfullscreen
                      loading="lazy"
                    ></iframe>
                  {% endif %}
                {% endif %}
              </div>
            {% else %}
              <div class="video-wrapper block-980">
                {% if section.settings.video contains '.mp4' %}
                  <video muted loop autoplay>
                    <source src="{{ section.settings.video }}" type="video/mp4">
                  </video>
                {% else %}
                  {% if section.settings.video != blank %}
                    {% assign videoId = section.settings.video | split: 'vimeo.com/' %}
                    <iframe
                      src="https://player.vimeo.com/video/{{ videoId[1] }}?loop=1&autoplay=1&muted=1"
                      frameborder="0"
                      allow="fullscreen"
                      allowfullscreen
                      loading="lazy"
                    ></iframe>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% else %}
          {% if section.settings.image != blank %}
            <div class="image-wrapper">
              <picture>
                <source
                  media="(max-width:768px)"
                  srcset="{% if section.settings.mobileImage != blank %}{{ section.settings.mobileImage | img_url: '750x1100' }}   {% endif %}"
                >
                <img src="{{ section.settings.image | img_url: '2496x1300' }}" alt="{{ block.settings.image.alt}}">
              </picture>
            </div>
          {% endif %}
        {% endif %}
        <h2>
          {{ section.settings.title1 }}
          {% if section.settings.title2 != blank %}
            <span class="color-grey h2">{{ section.settings.title2 }}</span>
          {% endif %}
        </h2>
        <ul class="flex-wrap loadMoreList">
          {%- for block in section.blocks -%}
            <li>
              {% if block.settings.image != blank %}
                {% if block.settings.videoLink != blank %}
                  <a
                    href="{{ block.settings.videoLink }}"
                    aria-label="Read More About {{ block.settings.title }}"
                    title="Read More About {{ block.settings.title }}"
                    data-lity
                    class="full-link"
                  >
                {% endif %}
                <div class="image-section {% if block.settings.videoLink != blank %} video {% endif %}">
                  {{ block.settings.image | image_url: width: 796 | image_tag: loading: 'lazy', widths: '769x622' }}
                </div>
                {% if block.settings.videoLink != blank %}
                  </a>
                {% endif %}
              {% endif %}
              <div class="content">
                {% if block.settings.title != blank %}
                  <h3 class="h5">{{ block.settings.title }}</h3>
                {% endif %}
                <div class="full-format small">
                  {% if block.settings.description != blank %}
                    {{ block.settings.description }}
                  {% endif %}
                </div>
                {% if block.settings.buttonText != blank and block.settings.videoLink != blank %}
                  <a
                    href="{{ block.settings.videoLink }}"
                    title="Read More About {{ block.settings.buttonText }}"
                    data-lity
                    aria-label="Read More About {{ block.settings.buttonText }}"
                    class="link--primary"
                  >
                    {{- block.settings.buttonText }}
                  </a>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
        {% if section.blocks.size > 6 %}
          <a href="javasscript:void(0)" id="loadmore" class="btn--primary">View More Videos</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
<script>
  const loadmore = document.querySelector('#loadmore');
  let currentItems = 6;
  loadmore.addEventListener('click', (e) => {
    const elementList = [...document.querySelectorAll('.loadMoreList li')];
    for (let i = currentItems; i < currentItems + 6; i++) {
      if (elementList[i]) {
        elementList[i].style.display = 'block';
      }
    }
    currentItems += 6;

    // Load more button will be hidden after list fully loaded
    if (currentItems >= elementList.length) {
      event.target.style.display = 'none';
    }
  });
</script>
{% schema %}
{
  "name": "Video Cards",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image (Desktop)",
      "info": "2522 x 1398px Recommended"
    },
    {
      "type": "image_picker",
      "id": "mobileImage",
      "label": "Background Image (Mobile)",
      "info": "640 x 1000px Recommended"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Background Video (Desktop)"
    },
    {
      "type": "url",
      "id": "videoMobile",
      "label": "Background Video (Mobile)"
    },
    {
      "type": "checkbox",
      "id": "videobanner",
      "label": "Activate Video instead of a static image (vimeo/mp4)",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title (Primary)"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title (Secondary)"
    },
    {
      "type": "header",
      "content": "Top/Bottom Section Space"
    },
    {
      "type": "range",
      "id": "paddingtop",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingtopmobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottom",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "paddingbottomMobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "796 x 622px Recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "buttonText",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "videoLink",
          "label": "Video Link",
          "info": "Video Link (Vimeo / Mp4 / Youtube)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Cards"
    }
  ]
}
{% endschema %}

{{ 'lity.css' | asset_url | stylesheet_tag }}
{{ 'lity.js' | asset_url | script_tag }}