{% if section.settings.title != blank
  or section.settings.description != blank
  or section.settings.image1 != blank
  or section.settings.image2 != blank
%}
  <div class="content-banner two-column-content-banner">
    <div class="box">
      {% if section.settings.image1 != blank %}
        <div class="left-image">
          {% comment %} <img src="{{ 'baby-1.webp' | asset_url }}"> {% endcomment %}
          {{ section.settings.image1 | image_url: width: 600 | image_tag: loading: 'lazy', widths: '600x600' }}
        </div>
      {% endif %}
      {% if section.settings.title != blank %}
        <div class="content">
          <h2 class="medium">{{ section.settings.title }}</h2>
          {% if section.settings.description != blank %}
            <div class="medium">{{ section.settings.description }}</div>
          {% endif %}
        </div>
      {% endif %}
      {% if section.settings.image2 != blank %}
        <div class="right-image">
          {% comment %} <img src="{{ 'baby-2.webp' | asset_url }}"> {% endcomment %}
          {{ section.settings.image2 | image_url: width: 600 | image_tag: loading: 'lazy', widths: '600x600' }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Content Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Child Image First",
      "info": "600 x 600px Recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Child Image Second",
      "info": "600 x 600px Recommended"
    }
  ],
  "presets": [
    {
      "name": "Content Banner"
    }
  ]
}
{% endschema %}
