{%- assign limit = 12 -%}
{% paginate search.results by 12 %}
<div class="search-section">
  <div class="inner-hero-section">
    <div class="image-section ">
      <img src="{{ 'search-hero.webp' | asset_url }}" /> 
    
      </div>
    <div class="container-1260 text-center">
      <div class="form-content">
      {% if search.performed == false %}
      <h1 class="h2">
        Search
      </h1>
      {% else %}
    
      <h1 class="h2">
       
       Search results for "{{ search.terms }}"
      
      </h1>
      {% endif %}
      <div class="text-center">
        {% if search.performed and search.results_count == 0 %}
        <div class="rte search--no-results-found">
          <p>{{ 'general.search.no_results' | t }}</p>
        </div>
        {% endif %}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
          <input type="hidden" name="type" value="product" class="search-item" >
          <div class="input-group input-group--nowrap">
            <div class="input-group__field input-group__field--connected search-form__input-wrapper">
              <input type="search" name="q" value="{{ search.terms | escape }}"
                placeholder="Search" role="combobox" aria-autocomplete="list"
                aria-owns="predictive-search-results" aria-expanded="false"
                aria-label="Search" aria-haspopup="listbox" class="search-form__input"
                data-search-page-predictive-search-input data-base-url="{{ routes.search_url }}" />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
            </div>
            <button type="submit" class="search-btn js__search-submit" aria-label="{{ 'general.search.submit' | t }}"
              data-search-page-predictive-search-submit>
              Search
            </button>
          </div>
        </form>
      </div>
      </div>
    </div>
   
  </div>
  <div class="collection" data-section-id="{{ section.id }}" data-section-type="collection-template">
    <div class="container-1260 graphics search">
    <div class="collection-filter-section flex">
        
      <div class="item--count">
        {% assign currentOffset = paginate.current_offset | to_i %}
        {% assign items = paginate.items %}
        {% assign currentPage = paginate.current_page | to_i %}

        {% assign currentPageStart = currentOffset | plus: 1 %}

        {% assign totalshowItems = currentOffset | plus: limit %}

        {% if paginate.current_page == 1 %}
          {% if paginate.current_page == paginate.pages %}
            Showing 1 - {{ search.results_count }} of {{ search.results_count }} items
          {% else %}
            Showing 1 - {{ limit }} of {{ search.results_count }} items
          {% endif %}
        {% else %}
          {% if paginate.current_page == paginate.pages %}
            {% assign lastPageItem = items | to_i | minus: currentOffset | to_i %}
            Showing {{ currentPageStart }} - {{ search.results_count }} of
            {{ search.results_count }} items
          {% else %}
            Showing {{ currentPageStart }} - {{ totalshowItems }} of {{ search.results_count }} items
          {% endif %}
        {% endif %}
      </div>
    <div class="search-option js__search-type">
      <a  class="js__search-product" >Product</a>
      <a class="js__search-blog">Blog</a>
      </div>
    </div>
    {% if search.performed %}
    <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
    <ul class="collection__product-list flex-wrap">
      {% for item in search.results %}
      <li class="grid__item product-card">
        {% if item.object_type == 'product' %}
          {% include 'product_Card'  with  productRelated: item , show_price: true, show_tags: true, show_auto_tags: true, show_title: true, show_fav: false, show_secondary_button: true %}
          {% render 'product-modal', productData: item %}
          {% else %}
        <div class="product-wrapper" title="{{ item.title }}" href="{{ item.url }}" tabindex="0">
          <div class=" hide blog-content" id="blog-content-{{ item.id }}">{{ item.content }}</div>
          {% assign defaultImage = 'dummy-image.webp' | asset_url %}
          <div class="image-section eeee">
            <a title="{{ item.title }}" href="{{ item.url }}" tabindex="0">
              {% if item.metafields.accentuate.search_page_thumbnail != blank %}
                {% assign articleImage = item.metafields.accentuate.search_page_thumbnail | first %}
                <img src="{{ articleImage.cloudinary_src}}" id="blog-{{ item.id }}">

              {% else %}
                <img src="{{defaultImage}}" id="blog-{{ item.id }}">
              {% endif %}
              {% comment %}
                <img id="{{ item,id }}" src="{{ "dummy-image.webp" | asset_url }}">
              {% endcomment %}
            </a>
          </div>
          <script>
            var img_array = $('#blog-content-{{item.id}} img').map(function () {
              return $(this).attr('src');
            });

            var firstImage = img_array[0];

            if (img_array.length > 0) {
              $('#blog-{{item.id}}').attr('src', firstImage);
            } else {
              $('#blog-{{item.id}}').attr('src', '{{defaultImage}}');
            }
          </script>
          <div class="content">
            <h3 class="h5 product-card__product-title uppercase">
              <a title="{{ item.title }}" href="{{ item.url }}" tabindex="0">
                {{ item.title }}
              </a>
             
              </h4>
          </div>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {%- if paginate.pages > 1 -%}
    <div class="container-1240 text-center ">
  
      {% include 'pagination', paginate: paginate %}
    </div>
  {%- endif -%}
    {% endif %}
    {% if search.results_count < 2  %}
    <div class="search--less-than-2-results"></div>
    {% endif %}
    {% endpaginate %}
  </div>
</div>



